<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa.eyre.medrec.mapper.DiagnosticCategoryMapper">
  <resultMap id="BaseResultMap" type="cn.xa.eyre.medrec.domain.DiagnosticCategory">
    <id column="PATIENT_ID" jdbcType="VARCHAR" property="patientId" />
    <id column="VISIT_ID" jdbcType="NUMERIC" property="visitId" />
    <id column="DIAGNOSIS_TYPE" jdbcType="VARCHAR" property="diagnosisType" />
    <id column="DIAGNOSIS_NO" jdbcType="NUMERIC" property="diagnosisNo" />
    <id column="DIAGNOSIS_CODE" jdbcType="VARCHAR" property="diagnosisCode" />
    <result column="CODE_NO" jdbcType="NUMERIC" property="codeNo" />
    <result column="INSURANCE_ICD10_CODE" jdbcType="VARCHAR" property="insuranceIcd10Code" />
    <result column="INSURANCE_ICD10_CODE_PLUS" jdbcType="VARCHAR" property="insuranceIcd10CodePlus" />
    <result column="SH_ICD10_CODE" jdbcType="VARCHAR" property="shIcd10Code" />
    <result column="SH_ICD10_CODE_PLUS" jdbcType="VARCHAR" property="shIcd10CodePlus" />
    <result column="CLINIC_ICD10_CODE" jdbcType="VARCHAR" property="clinicIcd10Code" />
    <result column="CLINIC_ICD10_CODE_PLUS" jdbcType="VARCHAR" property="clinicIcd10CodePlus" />
    <result column="ICD10_CODE" jdbcType="VARCHAR" property="icd10Code" />
    <result column="ICD10_CODE_PLUS" jdbcType="VARCHAR" property="icd10CodePlus" />
  </resultMap>

  <resultMap id="BaseResultCodeMap" type="cn.xa.eyre.medrec.domain.DiagnosticDescCode">
    <id column="PATIENT_ID" jdbcType="VARCHAR" property="patientId" />
    <result column="VISIT_ID" jdbcType="NUMERIC" property="visitId" />
    <result column="DIAGNOSIS_TYPE" jdbcType="VARCHAR" property="diagnosisType" />
    <result column="DIAGNOSIS_NO" jdbcType="NUMERIC" property="diagnosisNo" />
    <result column="DIAGNOSIS_CODE" jdbcType="VARCHAR" property="diagnosisCode" />
    <result column="DIAGNOSIS_DESC" jdbcType="VARCHAR" property="diagnosisDesc" />
    <result column="TREAT_RESULT" jdbcType="VARCHAR" property="treatResult" />
  </resultMap>

  <sql id="Base_Column_List">
    PATIENT_ID, VISIT_ID, DIAGNOSIS_TYPE, DIAGNOSIS_NO, DIAGNOSIS_CODE, CODE_NO, INSURANCE_ICD10_CODE, 
    INSURANCE_ICD10_CODE_PLUS, SH_ICD10_CODE, SH_ICD10_CODE_PLUS, CLINIC_ICD10_CODE, 
    CLINIC_ICD10_CODE_PLUS, ICD10_CODE, ICD10_CODE_PLUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.xa.eyre.medrec.domain.DiagnosticCategoryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DIAGNOSTIC_CATEGORY
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
      and VISIT_ID = #{visitId,jdbcType=NUMERIC}
      and DIAGNOSIS_TYPE = #{diagnosisType,jdbcType=VARCHAR}
      and DIAGNOSIS_NO = #{diagnosisNo,jdbcType=NUMERIC}
  </select>
  <select id="getDiagnosticDescCode" resultMap="BaseResultCodeMap">
    SELECT T.PATIENT_ID, T.VISIT_ID, T.DIAGNOSIS_NO, T.DIAGNOSIS_DESC, T.TREAT_RESULT, M.DIAGNOSIS_TYPE, M.DIAGNOSIS_CODE
    FROM MEDREC.FINAL_CHIEF_DIAGNOSIS T
    LEFT JOIN MEDREC.DIAGNOSTIC_CATEGORY M ON T.PATIENT_ID = M.PATIENT_ID AND T.VISIT_ID = M.VISIT_ID
    WHERE T.PATIENT_ID = #{patientId,jdbcType=VARCHAR}  AND T.TREAT_RESULT = '死亡' AND M.DIAGNOSIS_TYPE ='3';
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.xa.eyre.medrec.domain.DiagnosticCategoryKey">
    delete from DIAGNOSTIC_CATEGORY
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
      and VISIT_ID = #{visitId,jdbcType=NUMERIC}
      and DIAGNOSIS_TYPE = #{diagnosisType,jdbcType=VARCHAR}
      and DIAGNOSIS_NO = #{diagnosisNo,jdbcType=NUMERIC}
      and DIAGNOSIS_CODE = #{diagnosisCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xa.eyre.medrec.domain.DiagnosticCategory">
    insert into DIAGNOSTIC_CATEGORY (PATIENT_ID, VISIT_ID, DIAGNOSIS_TYPE, 
      DIAGNOSIS_NO, DIAGNOSIS_CODE, CODE_NO, 
      INSURANCE_ICD10_CODE, INSURANCE_ICD10_CODE_PLUS, 
      SH_ICD10_CODE, SH_ICD10_CODE_PLUS, CLINIC_ICD10_CODE, 
      CLINIC_ICD10_CODE_PLUS, ICD10_CODE, ICD10_CODE_PLUS
      )
    values (#{patientId,jdbcType=VARCHAR}, #{visitId,jdbcType=NUMERIC}, #{diagnosisType,jdbcType=VARCHAR}, 
      #{diagnosisNo,jdbcType=NUMERIC}, #{diagnosisCode,jdbcType=VARCHAR}, #{codeNo,jdbcType=NUMERIC}, 
      #{insuranceIcd10Code,jdbcType=VARCHAR}, #{insuranceIcd10CodePlus,jdbcType=VARCHAR}, 
      #{shIcd10Code,jdbcType=VARCHAR}, #{shIcd10CodePlus,jdbcType=VARCHAR}, #{clinicIcd10Code,jdbcType=VARCHAR}, 
      #{clinicIcd10CodePlus,jdbcType=VARCHAR}, #{icd10Code,jdbcType=VARCHAR}, #{icd10CodePlus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.xa.eyre.medrec.domain.DiagnosticCategory">
    insert into DIAGNOSTIC_CATEGORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        PATIENT_ID,
      </if>
      <if test="visitId != null">
        VISIT_ID,
      </if>
      <if test="diagnosisType != null">
        DIAGNOSIS_TYPE,
      </if>
      <if test="diagnosisNo != null">
        DIAGNOSIS_NO,
      </if>
      <if test="diagnosisCode != null">
        DIAGNOSIS_CODE,
      </if>
      <if test="codeNo != null">
        CODE_NO,
      </if>
      <if test="insuranceIcd10Code != null">
        INSURANCE_ICD10_CODE,
      </if>
      <if test="insuranceIcd10CodePlus != null">
        INSURANCE_ICD10_CODE_PLUS,
      </if>
      <if test="shIcd10Code != null">
        SH_ICD10_CODE,
      </if>
      <if test="shIcd10CodePlus != null">
        SH_ICD10_CODE_PLUS,
      </if>
      <if test="clinicIcd10Code != null">
        CLINIC_ICD10_CODE,
      </if>
      <if test="clinicIcd10CodePlus != null">
        CLINIC_ICD10_CODE_PLUS,
      </if>
      <if test="icd10Code != null">
        ICD10_CODE,
      </if>
      <if test="icd10CodePlus != null">
        ICD10_CODE_PLUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="visitId != null">
        #{visitId,jdbcType=NUMERIC},
      </if>
      <if test="diagnosisType != null">
        #{diagnosisType,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisNo != null">
        #{diagnosisNo,jdbcType=NUMERIC},
      </if>
      <if test="diagnosisCode != null">
        #{diagnosisCode,jdbcType=VARCHAR},
      </if>
      <if test="codeNo != null">
        #{codeNo,jdbcType=NUMERIC},
      </if>
      <if test="insuranceIcd10Code != null">
        #{insuranceIcd10Code,jdbcType=VARCHAR},
      </if>
      <if test="insuranceIcd10CodePlus != null">
        #{insuranceIcd10CodePlus,jdbcType=VARCHAR},
      </if>
      <if test="shIcd10Code != null">
        #{shIcd10Code,jdbcType=VARCHAR},
      </if>
      <if test="shIcd10CodePlus != null">
        #{shIcd10CodePlus,jdbcType=VARCHAR},
      </if>
      <if test="clinicIcd10Code != null">
        #{clinicIcd10Code,jdbcType=VARCHAR},
      </if>
      <if test="clinicIcd10CodePlus != null">
        #{clinicIcd10CodePlus,jdbcType=VARCHAR},
      </if>
      <if test="icd10Code != null">
        #{icd10Code,jdbcType=VARCHAR},
      </if>
      <if test="icd10CodePlus != null">
        #{icd10CodePlus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xa.eyre.medrec.domain.DiagnosticCategory">
    update DIAGNOSTIC_CATEGORY
    <set>
      <if test="codeNo != null">
        CODE_NO = #{codeNo,jdbcType=NUMERIC},
      </if>
      <if test="insuranceIcd10Code != null">
        INSURANCE_ICD10_CODE = #{insuranceIcd10Code,jdbcType=VARCHAR},
      </if>
      <if test="insuranceIcd10CodePlus != null">
        INSURANCE_ICD10_CODE_PLUS = #{insuranceIcd10CodePlus,jdbcType=VARCHAR},
      </if>
      <if test="shIcd10Code != null">
        SH_ICD10_CODE = #{shIcd10Code,jdbcType=VARCHAR},
      </if>
      <if test="shIcd10CodePlus != null">
        SH_ICD10_CODE_PLUS = #{shIcd10CodePlus,jdbcType=VARCHAR},
      </if>
      <if test="clinicIcd10Code != null">
        CLINIC_ICD10_CODE = #{clinicIcd10Code,jdbcType=VARCHAR},
      </if>
      <if test="clinicIcd10CodePlus != null">
        CLINIC_ICD10_CODE_PLUS = #{clinicIcd10CodePlus,jdbcType=VARCHAR},
      </if>
      <if test="icd10Code != null">
        ICD10_CODE = #{icd10Code,jdbcType=VARCHAR},
      </if>
      <if test="icd10CodePlus != null">
        ICD10_CODE_PLUS = #{icd10CodePlus,jdbcType=VARCHAR},
      </if>
    </set>
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
      and VISIT_ID = #{visitId,jdbcType=NUMERIC}
      and DIAGNOSIS_TYPE = #{diagnosisType,jdbcType=VARCHAR}
      and DIAGNOSIS_NO = #{diagnosisNo,jdbcType=NUMERIC}
      and DIAGNOSIS_CODE = #{diagnosisCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xa.eyre.medrec.domain.DiagnosticCategory">
    update DIAGNOSTIC_CATEGORY
    set CODE_NO = #{codeNo,jdbcType=NUMERIC},
      INSURANCE_ICD10_CODE = #{insuranceIcd10Code,jdbcType=VARCHAR},
      INSURANCE_ICD10_CODE_PLUS = #{insuranceIcd10CodePlus,jdbcType=VARCHAR},
      SH_ICD10_CODE = #{shIcd10Code,jdbcType=VARCHAR},
      SH_ICD10_CODE_PLUS = #{shIcd10CodePlus,jdbcType=VARCHAR},
      CLINIC_ICD10_CODE = #{clinicIcd10Code,jdbcType=VARCHAR},
      CLINIC_ICD10_CODE_PLUS = #{clinicIcd10CodePlus,jdbcType=VARCHAR},
      ICD10_CODE = #{icd10Code,jdbcType=VARCHAR},
      ICD10_CODE_PLUS = #{icd10CodePlus,jdbcType=VARCHAR}
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
      and VISIT_ID = #{visitId,jdbcType=NUMERIC}
      and DIAGNOSIS_TYPE = #{diagnosisType,jdbcType=VARCHAR}
      and DIAGNOSIS_NO = #{diagnosisNo,jdbcType=NUMERIC}
      and DIAGNOSIS_CODE = #{diagnosisCode,jdbcType=VARCHAR}
  </update>
</mapper>