<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa.eyre.medrec.mapper.PatMasterIndexMapper">
  <resultMap id="BaseResultMap" type="cn.xa.eyre.medrec.domain.PatMasterIndex">
    <id column="PATIENT_ID" jdbcType="VARCHAR" property="patientId" />
    <result column="INP_NO" jdbcType="VARCHAR" property="inpNo" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="NAME_PHONETIC" jdbcType="VARCHAR" property="namePhonetic" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="DATE_OF_BIRTH" jdbcType="TIMESTAMP" property="dateOfBirth" />
    <result column="BIRTH_PLACE" jdbcType="VARCHAR" property="birthPlace" />
    <result column="CITIZENSHIP" jdbcType="VARCHAR" property="citizenship" />
    <result column="NATION" jdbcType="VARCHAR" property="nation" />
    <result column="ID_NO" jdbcType="VARCHAR" property="idNo" />
    <result column="IDENTITY" jdbcType="VARCHAR" property="identity" />
    <result column="CHARGE_TYPE" jdbcType="VARCHAR" property="chargeType" />
    <result column="UNIT_IN_CONTRACT" jdbcType="VARCHAR" property="unitInContract" />
    <result column="MAILING_ADDRESS" jdbcType="VARCHAR" property="mailingAddress" />
    <result column="ZIP_CODE" jdbcType="VARCHAR" property="zipCode" />
    <result column="PHONE_NUMBER_HOME" jdbcType="VARCHAR" property="phoneNumberHome" />
    <result column="PHONE_NUMBER_BUSINESS" jdbcType="VARCHAR" property="phoneNumberBusiness" />
    <result column="NEXT_OF_KIN" jdbcType="VARCHAR" property="nextOfKin" />
    <result column="RELATIONSHIP" jdbcType="VARCHAR" property="relationship" />
    <result column="NEXT_OF_KIN_ADDR" jdbcType="VARCHAR" property="nextOfKinAddr" />
    <result column="NEXT_OF_KIN_ZIP_CODE" jdbcType="VARCHAR" property="nextOfKinZipCode" />
    <result column="NEXT_OF_KIN_PHONE" jdbcType="VARCHAR" property="nextOfKinPhone" />
    <result column="LAST_VISIT_DATE" jdbcType="TIMESTAMP" property="lastVisitDate" />
    <result column="VIP_INDICATOR" jdbcType="NUMERIC" property="vipIndicator" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="HOME_INDICATOR" jdbcType="NUMERIC" property="homeIndicator" />
    <result column="DEATH_NO" jdbcType="VARCHAR" property="deathNo" />
    <result column="DEATH_DATE" jdbcType="TIMESTAMP" property="deathDate" />
    <result column="SECRET_LEVEL" jdbcType="VARCHAR" property="secretLevel" />
  </resultMap>
  <sql id="Base_Column_List">
    PATIENT_ID, INP_NO, NAME, NAME_PHONETIC, SEX, DATE_OF_BIRTH, BIRTH_PLACE, CITIZENSHIP, 
    NATION, ID_NO, IDENTITY, CHARGE_TYPE, UNIT_IN_CONTRACT, MAILING_ADDRESS, ZIP_CODE, 
    PHONE_NUMBER_HOME, PHONE_NUMBER_BUSINESS, NEXT_OF_KIN, RELATIONSHIP, NEXT_OF_KIN_ADDR, 
    NEXT_OF_KIN_ZIP_CODE, NEXT_OF_KIN_PHONE, LAST_VISIT_DATE, VIP_INDICATOR, CREATE_DATE, 
    OPERATOR, HOME_INDICATOR, DEATH_NO, DEATH_DATE, SECRET_LEVEL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PAT_MASTER_INDEX
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PAT_MASTER_INDEX
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xa.eyre.medrec.domain.PatMasterIndex">
    insert into PAT_MASTER_INDEX (PATIENT_ID, INP_NO, NAME, 
      NAME_PHONETIC, SEX, DATE_OF_BIRTH, 
      BIRTH_PLACE, CITIZENSHIP, NATION, 
      ID_NO, IDENTITY, CHARGE_TYPE, 
      UNIT_IN_CONTRACT, MAILING_ADDRESS, ZIP_CODE, 
      PHONE_NUMBER_HOME, PHONE_NUMBER_BUSINESS, NEXT_OF_KIN, 
      RELATIONSHIP, NEXT_OF_KIN_ADDR, NEXT_OF_KIN_ZIP_CODE, 
      NEXT_OF_KIN_PHONE, LAST_VISIT_DATE, VIP_INDICATOR, 
      CREATE_DATE, OPERATOR, HOME_INDICATOR, 
      DEATH_NO, DEATH_DATE, SECRET_LEVEL
      )
    values (#{patientId,jdbcType=VARCHAR}, #{inpNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{namePhonetic,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{dateOfBirth,jdbcType=TIMESTAMP}, 
      #{birthPlace,jdbcType=VARCHAR}, #{citizenship,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, 
      #{idNo,jdbcType=VARCHAR}, #{identity,jdbcType=VARCHAR}, #{chargeType,jdbcType=VARCHAR}, 
      #{unitInContract,jdbcType=VARCHAR}, #{mailingAddress,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, 
      #{phoneNumberHome,jdbcType=VARCHAR}, #{phoneNumberBusiness,jdbcType=VARCHAR}, #{nextOfKin,jdbcType=VARCHAR}, 
      #{relationship,jdbcType=VARCHAR}, #{nextOfKinAddr,jdbcType=VARCHAR}, #{nextOfKinZipCode,jdbcType=VARCHAR}, 
      #{nextOfKinPhone,jdbcType=VARCHAR}, #{lastVisitDate,jdbcType=TIMESTAMP}, #{vipIndicator,jdbcType=NUMERIC}, 
      #{createDate,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, #{homeIndicator,jdbcType=NUMERIC}, 
      #{deathNo,jdbcType=VARCHAR}, #{deathDate,jdbcType=TIMESTAMP}, #{secretLevel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.xa.eyre.medrec.domain.PatMasterIndex">
    insert into PAT_MASTER_INDEX
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        PATIENT_ID,
      </if>
      <if test="inpNo != null">
        INP_NO,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="namePhonetic != null">
        NAME_PHONETIC,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="dateOfBirth != null">
        DATE_OF_BIRTH,
      </if>
      <if test="birthPlace != null">
        BIRTH_PLACE,
      </if>
      <if test="citizenship != null">
        CITIZENSHIP,
      </if>
      <if test="nation != null">
        NATION,
      </if>
      <if test="idNo != null">
        ID_NO,
      </if>
      <if test="identity != null">
        IDENTITY,
      </if>
      <if test="chargeType != null">
        CHARGE_TYPE,
      </if>
      <if test="unitInContract != null">
        UNIT_IN_CONTRACT,
      </if>
      <if test="mailingAddress != null">
        MAILING_ADDRESS,
      </if>
      <if test="zipCode != null">
        ZIP_CODE,
      </if>
      <if test="phoneNumberHome != null">
        PHONE_NUMBER_HOME,
      </if>
      <if test="phoneNumberBusiness != null">
        PHONE_NUMBER_BUSINESS,
      </if>
      <if test="nextOfKin != null">
        NEXT_OF_KIN,
      </if>
      <if test="relationship != null">
        RELATIONSHIP,
      </if>
      <if test="nextOfKinAddr != null">
        NEXT_OF_KIN_ADDR,
      </if>
      <if test="nextOfKinZipCode != null">
        NEXT_OF_KIN_ZIP_CODE,
      </if>
      <if test="nextOfKinPhone != null">
        NEXT_OF_KIN_PHONE,
      </if>
      <if test="lastVisitDate != null">
        LAST_VISIT_DATE,
      </if>
      <if test="vipIndicator != null">
        VIP_INDICATOR,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="homeIndicator != null">
        HOME_INDICATOR,
      </if>
      <if test="deathNo != null">
        DEATH_NO,
      </if>
      <if test="deathDate != null">
        DEATH_DATE,
      </if>
      <if test="secretLevel != null">
        SECRET_LEVEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="inpNo != null">
        #{inpNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="namePhonetic != null">
        #{namePhonetic,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="dateOfBirth != null">
        #{dateOfBirth,jdbcType=TIMESTAMP},
      </if>
      <if test="birthPlace != null">
        #{birthPlace,jdbcType=VARCHAR},
      </if>
      <if test="citizenship != null">
        #{citizenship,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null">
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null">
        #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="unitInContract != null">
        #{unitInContract,jdbcType=VARCHAR},
      </if>
      <if test="mailingAddress != null">
        #{mailingAddress,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumberHome != null">
        #{phoneNumberHome,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumberBusiness != null">
        #{phoneNumberBusiness,jdbcType=VARCHAR},
      </if>
      <if test="nextOfKin != null">
        #{nextOfKin,jdbcType=VARCHAR},
      </if>
      <if test="relationship != null">
        #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="nextOfKinAddr != null">
        #{nextOfKinAddr,jdbcType=VARCHAR},
      </if>
      <if test="nextOfKinZipCode != null">
        #{nextOfKinZipCode,jdbcType=VARCHAR},
      </if>
      <if test="nextOfKinPhone != null">
        #{nextOfKinPhone,jdbcType=VARCHAR},
      </if>
      <if test="lastVisitDate != null">
        #{lastVisitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="vipIndicator != null">
        #{vipIndicator,jdbcType=NUMERIC},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="homeIndicator != null">
        #{homeIndicator,jdbcType=NUMERIC},
      </if>
      <if test="deathNo != null">
        #{deathNo,jdbcType=VARCHAR},
      </if>
      <if test="deathDate != null">
        #{deathDate,jdbcType=TIMESTAMP},
      </if>
      <if test="secretLevel != null">
        #{secretLevel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xa.eyre.medrec.domain.PatMasterIndex">
    update PAT_MASTER_INDEX
    <set>
      <if test="inpNo != null">
        INP_NO = #{inpNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="namePhonetic != null">
        NAME_PHONETIC = #{namePhonetic,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="dateOfBirth != null">
        DATE_OF_BIRTH = #{dateOfBirth,jdbcType=TIMESTAMP},
      </if>
      <if test="birthPlace != null">
        BIRTH_PLACE = #{birthPlace,jdbcType=VARCHAR},
      </if>
      <if test="citizenship != null">
        CITIZENSHIP = #{citizenship,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        NATION = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null">
        ID_NO = #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        IDENTITY = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null">
        CHARGE_TYPE = #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="unitInContract != null">
        UNIT_IN_CONTRACT = #{unitInContract,jdbcType=VARCHAR},
      </if>
      <if test="mailingAddress != null">
        MAILING_ADDRESS = #{mailingAddress,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumberHome != null">
        PHONE_NUMBER_HOME = #{phoneNumberHome,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumberBusiness != null">
        PHONE_NUMBER_BUSINESS = #{phoneNumberBusiness,jdbcType=VARCHAR},
      </if>
      <if test="nextOfKin != null">
        NEXT_OF_KIN = #{nextOfKin,jdbcType=VARCHAR},
      </if>
      <if test="relationship != null">
        RELATIONSHIP = #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="nextOfKinAddr != null">
        NEXT_OF_KIN_ADDR = #{nextOfKinAddr,jdbcType=VARCHAR},
      </if>
      <if test="nextOfKinZipCode != null">
        NEXT_OF_KIN_ZIP_CODE = #{nextOfKinZipCode,jdbcType=VARCHAR},
      </if>
      <if test="nextOfKinPhone != null">
        NEXT_OF_KIN_PHONE = #{nextOfKinPhone,jdbcType=VARCHAR},
      </if>
      <if test="lastVisitDate != null">
        LAST_VISIT_DATE = #{lastVisitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="vipIndicator != null">
        VIP_INDICATOR = #{vipIndicator,jdbcType=NUMERIC},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="homeIndicator != null">
        HOME_INDICATOR = #{homeIndicator,jdbcType=NUMERIC},
      </if>
      <if test="deathNo != null">
        DEATH_NO = #{deathNo,jdbcType=VARCHAR},
      </if>
      <if test="deathDate != null">
        DEATH_DATE = #{deathDate,jdbcType=TIMESTAMP},
      </if>
      <if test="secretLevel != null">
        SECRET_LEVEL = #{secretLevel,jdbcType=VARCHAR},
      </if>
    </set>
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xa.eyre.medrec.domain.PatMasterIndex">
    update PAT_MASTER_INDEX
    set INP_NO = #{inpNo,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      NAME_PHONETIC = #{namePhonetic,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      DATE_OF_BIRTH = #{dateOfBirth,jdbcType=TIMESTAMP},
      BIRTH_PLACE = #{birthPlace,jdbcType=VARCHAR},
      CITIZENSHIP = #{citizenship,jdbcType=VARCHAR},
      NATION = #{nation,jdbcType=VARCHAR},
      ID_NO = #{idNo,jdbcType=VARCHAR},
      IDENTITY = #{identity,jdbcType=VARCHAR},
      CHARGE_TYPE = #{chargeType,jdbcType=VARCHAR},
      UNIT_IN_CONTRACT = #{unitInContract,jdbcType=VARCHAR},
      MAILING_ADDRESS = #{mailingAddress,jdbcType=VARCHAR},
      ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      PHONE_NUMBER_HOME = #{phoneNumberHome,jdbcType=VARCHAR},
      PHONE_NUMBER_BUSINESS = #{phoneNumberBusiness,jdbcType=VARCHAR},
      NEXT_OF_KIN = #{nextOfKin,jdbcType=VARCHAR},
      RELATIONSHIP = #{relationship,jdbcType=VARCHAR},
      NEXT_OF_KIN_ADDR = #{nextOfKinAddr,jdbcType=VARCHAR},
      NEXT_OF_KIN_ZIP_CODE = #{nextOfKinZipCode,jdbcType=VARCHAR},
      NEXT_OF_KIN_PHONE = #{nextOfKinPhone,jdbcType=VARCHAR},
      LAST_VISIT_DATE = #{lastVisitDate,jdbcType=TIMESTAMP},
      VIP_INDICATOR = #{vipIndicator,jdbcType=NUMERIC},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      HOME_INDICATOR = #{homeIndicator,jdbcType=NUMERIC},
      DEATH_NO = #{deathNo,jdbcType=VARCHAR},
      DEATH_DATE = #{deathDate,jdbcType=TIMESTAMP},
      SECRET_LEVEL = #{secretLevel,jdbcType=VARCHAR}
    where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
  </update>
</mapper>