<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa.eyre.outpadm.mapper.ClinicIndexMapper">
  <resultMap id="BaseResultMap" type="cn.xa.eyre.outpadm.domain.ClinicIndex">
    <id column="CLINIC_LABEL" jdbcType="VARCHAR" property="clinicLabel" />
    <result column="CLINIC_DEPT" jdbcType="VARCHAR" property="clinicDept" />
    <result column="DOCTOR" jdbcType="VARCHAR" property="doctor" />
    <result column="DOCTOR_TITLE" jdbcType="VARCHAR" property="doctorTitle" />
    <result column="CLINIC_TYPE" jdbcType="VARCHAR" property="clinicType" />
    <result column="INPUT_CODE" jdbcType="VARCHAR" property="inputCode" />
    <result column="CLINIC_POSITION" jdbcType="VARCHAR" property="clinicPosition" />
    <result column="CLINIC_INDEX" jdbcType="VARCHAR" property="clinicIndex" />
  </resultMap>
  <sql id="Base_Column_List">
    CLINIC_LABEL, CLINIC_DEPT, DOCTOR, DOCTOR_TITLE, CLINIC_TYPE, INPUT_CODE, CLINIC_POSITION, 
    CLINIC_INDEX
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CLINIC_INDEX
    where CLINIC_LABEL = #{clinicLabel,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CLINIC_INDEX
    where CLINIC_LABEL = #{clinicLabel,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xa.eyre.outpadm.domain.ClinicIndex">
    insert into CLINIC_INDEX (CLINIC_LABEL, CLINIC_DEPT, DOCTOR, 
      DOCTOR_TITLE, CLINIC_TYPE, INPUT_CODE, 
      CLINIC_POSITION, CLINIC_INDEX)
    values (#{clinicLabel,jdbcType=VARCHAR}, #{clinicDept,jdbcType=VARCHAR}, #{doctor,jdbcType=VARCHAR}, 
      #{doctorTitle,jdbcType=VARCHAR}, #{clinicType,jdbcType=VARCHAR}, #{inputCode,jdbcType=VARCHAR}, 
      #{clinicPosition,jdbcType=VARCHAR}, #{clinicIndex,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xa.eyre.outpadm.domain.ClinicIndex">
    insert into CLINIC_INDEX
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clinicLabel != null">
        CLINIC_LABEL,
      </if>
      <if test="clinicDept != null">
        CLINIC_DEPT,
      </if>
      <if test="doctor != null">
        DOCTOR,
      </if>
      <if test="doctorTitle != null">
        DOCTOR_TITLE,
      </if>
      <if test="clinicType != null">
        CLINIC_TYPE,
      </if>
      <if test="inputCode != null">
        INPUT_CODE,
      </if>
      <if test="clinicPosition != null">
        CLINIC_POSITION,
      </if>
      <if test="clinicIndex != null">
        CLINIC_INDEX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clinicLabel != null">
        #{clinicLabel,jdbcType=VARCHAR},
      </if>
      <if test="clinicDept != null">
        #{clinicDept,jdbcType=VARCHAR},
      </if>
      <if test="doctor != null">
        #{doctor,jdbcType=VARCHAR},
      </if>
      <if test="doctorTitle != null">
        #{doctorTitle,jdbcType=VARCHAR},
      </if>
      <if test="clinicType != null">
        #{clinicType,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null">
        #{inputCode,jdbcType=VARCHAR},
      </if>
      <if test="clinicPosition != null">
        #{clinicPosition,jdbcType=VARCHAR},
      </if>
      <if test="clinicIndex != null">
        #{clinicIndex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xa.eyre.outpadm.domain.ClinicIndex">
    update CLINIC_INDEX
    <set>
      <if test="clinicDept != null">
        CLINIC_DEPT = #{clinicDept,jdbcType=VARCHAR},
      </if>
      <if test="doctor != null">
        DOCTOR = #{doctor,jdbcType=VARCHAR},
      </if>
      <if test="doctorTitle != null">
        DOCTOR_TITLE = #{doctorTitle,jdbcType=VARCHAR},
      </if>
      <if test="clinicType != null">
        CLINIC_TYPE = #{clinicType,jdbcType=VARCHAR},
      </if>
      <if test="inputCode != null">
        INPUT_CODE = #{inputCode,jdbcType=VARCHAR},
      </if>
      <if test="clinicPosition != null">
        CLINIC_POSITION = #{clinicPosition,jdbcType=VARCHAR},
      </if>
      <if test="clinicIndex != null">
        CLINIC_INDEX = #{clinicIndex,jdbcType=VARCHAR},
      </if>
    </set>
    where CLINIC_LABEL = #{clinicLabel,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xa.eyre.outpadm.domain.ClinicIndex">
    update CLINIC_INDEX
    set CLINIC_DEPT = #{clinicDept,jdbcType=VARCHAR},
      DOCTOR = #{doctor,jdbcType=VARCHAR},
      DOCTOR_TITLE = #{doctorTitle,jdbcType=VARCHAR},
      CLINIC_TYPE = #{clinicType,jdbcType=VARCHAR},
      INPUT_CODE = #{inputCode,jdbcType=VARCHAR},
      CLINIC_POSITION = #{clinicPosition,jdbcType=VARCHAR},
      CLINIC_INDEX = #{clinicIndex,jdbcType=VARCHAR}
    where CLINIC_LABEL = #{clinicLabel,jdbcType=VARCHAR}
  </update>
</mapper>