<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa.eyre.outpadm.mapper.ClinicMasterMapper">
  <resultMap id="BaseResultMap" type="cn.xa.eyre.outpadm.domain.ClinicMaster">
    <id column="VISIT_DATE" jdbcType="TIMESTAMP" property="visitDate" />
    <id column="VISIT_NO" jdbcType="NUMERIC" property="visitNo" />
    <result column="CLINIC_LABEL" jdbcType="VARCHAR" property="clinicLabel" />
    <result column="VISIT_TIME_DESC" jdbcType="VARCHAR" property="visitTimeDesc" />
    <result column="SERIAL_NO" jdbcType="NUMERIC" property="serialNo" />
    <result column="PATIENT_ID" jdbcType="VARCHAR" property="patientId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="NAME_PHONETIC" jdbcType="VARCHAR" property="namePhonetic" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="AGE" jdbcType="NUMERIC" property="age" />
    <result column="IDENTITY" jdbcType="VARCHAR" property="identity" />
    <result column="CHARGE_TYPE" jdbcType="VARCHAR" property="chargeType" />
    <result column="INSURANCE_TYPE" jdbcType="VARCHAR" property="insuranceType" />
    <result column="INSURANCE_NO" jdbcType="VARCHAR" property="insuranceNo" />
    <result column="UNIT_IN_CONTRACT" jdbcType="VARCHAR" property="unitInContract" />
    <result column="CLINIC_TYPE" jdbcType="VARCHAR" property="clinicType" />
    <result column="FIRST_VISIT_INDICATOR" jdbcType="NUMERIC" property="firstVisitIndicator" />
    <result column="VISIT_DEPT" jdbcType="VARCHAR" property="visitDept" />
    <result column="VISIT_SPECIAL_CLINIC" jdbcType="VARCHAR" property="visitSpecialClinic" />
    <result column="DOCTOR" jdbcType="VARCHAR" property="doctor" />
    <result column="MR_PROVIDE_INDICATOR" jdbcType="NUMERIC" property="mrProvideIndicator" />
    <result column="REGISTRATION_STATUS" jdbcType="NUMERIC" property="registrationStatus" />
    <result column="REGISTERING_DATE" jdbcType="TIMESTAMP" property="registeringDate" />
    <result column="SYMPTOM" jdbcType="VARCHAR" property="symptom" />
    <result column="REGIST_FEE" jdbcType="NUMERIC" property="registFee" />
    <result column="CLINIC_FEE" jdbcType="NUMERIC" property="clinicFee" />
    <result column="OTHER_FEE" jdbcType="NUMERIC" property="otherFee" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="RETURNED_DATE" jdbcType="TIMESTAMP" property="returnedDate" />
    <result column="RETURNED_OPERATOR" jdbcType="VARCHAR" property="returnedOperator" />
    <result column="CLINIC_CHARGE" jdbcType="NUMERIC" property="clinicCharge" />
    <result column="INTERNAL_NO" jdbcType="VARCHAR" property="internalNo" />
    <result column="IDENTITY_CLASS" jdbcType="VARCHAR" property="identityClass" />
    <result column="INVOICE_NO" jdbcType="VARCHAR" property="invoiceNo" />
    <result column="MODE_CODE" jdbcType="CHAR" property="modeCode" />
    <result column="CARD_NAME" jdbcType="VARCHAR" property="cardName" />
    <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo" />
    <result column="ACCT_DATE_TIME" jdbcType="TIMESTAMP" property="acctDateTime" />
    <result column="ACCT_NO" jdbcType="VARCHAR" property="acctNo" />
    <result column="PAY_WAY" jdbcType="VARCHAR" property="payWay" />
    <result column="MR_PROVIDED_INDICATOR" jdbcType="NUMERIC" property="mrProvidedIndicator" />
    <result column="TALLY_DATE" jdbcType="TIMESTAMP" property="tallyDate" />
    <result column="TALLY_USER" jdbcType="VARCHAR" property="tallyUser" />
    <result column="CLINIC_NO" jdbcType="VARCHAR" property="clinicNo" />
    <result column="REAL_SORT" jdbcType="VARCHAR" property="realSort" />
    <result column="ID_NO" jdbcType="VARCHAR" property="idNo" />
    <result column="GHLSH" jdbcType="VARCHAR" property="ghlsh" />
    <result column="OUTP_ID" jdbcType="NUMERIC" property="outpId" />
    <result column="DIAGCODE" jdbcType="VARCHAR" property="diagcode" />
    <result column="RCPT_NO" jdbcType="VARCHAR" property="rcptNo" />
    <result column="RETURNED_ACCT_NO" jdbcType="VARCHAR" property="returnedAcctNo" />
    <result column="SERVICE_CLASS" jdbcType="VARCHAR" property="serviceClass" />
    <result column="ARMED_SERVICES" jdbcType="VARCHAR" property="armedServices" />
    <result column="SERVICE_SYSTEM_INDICATOR" jdbcType="NUMERIC" property="serviceSystemIndicator" />
    <result column="YGFUND_PAY_SUMAMT" jdbcType="NUMERIC" property="ygfundPaySumamt" />
    <result column="SECURITY_TYPE_CODE" jdbcType="VARCHAR" property="securityTypeCode" />
    <result column="CAL_WAY" jdbcType="VARCHAR" property="calWay" />
    <result column="POSTRADENO" jdbcType="VARCHAR" property="postradeno" />
    <result column="ECI_REG_ID" jdbcType="VARCHAR" property="eciRegId" />
    <result column="DIAGNOSE_ROOM_ID" jdbcType="VARCHAR" property="diagnoseRoomId" />
    <result column="DOCTOR_ID" jdbcType="VARCHAR" property="doctorId" />
    <result column="VISIT_TIME" jdbcType="TIMESTAMP" property="visitTime" />
    <result column="REGISTRATION_TYPE_ID" jdbcType="VARCHAR" property="registrationTypeId" />
    <result column="REG_DOCTOR_ID" jdbcType="VARCHAR" property="regDoctorId" />
    <result column="REG_DEPT_ID" jdbcType="VARCHAR" property="regDeptId" />
    <result column="REG_CLINIC_DEPT_ID" jdbcType="VARCHAR" property="regClinicDeptId" />
    <result column="WAITING_AREA_ID" jdbcType="VARCHAR" property="waitingAreaId" />
    <result column="DUTY_SETTING_ID" jdbcType="VARCHAR" property="dutySettingId" />
    <result column="DUTY_TIME_RANGE_ID" jdbcType="VARCHAR" property="dutyTimeRangeId" />
    <result column="DIAGNOSIS_DESC" jdbcType="VARCHAR" property="diagnosisDesc" />
    <result column="YGFUND_PAY_WAY" jdbcType="VARCHAR" property="ygfundPayWay" />
    <result column="PATIENT_LABEL" jdbcType="CHAR" property="patientLabel" />
    <result column="LAST_LABEL_STAFF_ID" jdbcType="VARCHAR" property="lastLabelStaffId" />
    <result column="LAST_LABEL_TIME" jdbcType="TIMESTAMP" property="lastLabelTime" />
    <result column="ARRANGE_DETAIL_ID" jdbcType="VARCHAR" property="arrangeDetailId" />
    <result column="R_VISIT_NO" jdbcType="NUMERIC" property="rVisitNo" />
    <result column="R_VISIT_DATE" jdbcType="TIMESTAMP" property="rVisitDate" />
    <result column="VERIFY_CODE" jdbcType="VARCHAR" property="verifyCode" />
    <result column="PATIENT_CLASS" jdbcType="VARCHAR" property="patientClass" />
    <result column="TRANSFER_MARK" jdbcType="CHAR" property="transferMark" />
  </resultMap>
  <sql id="Base_Column_List">
    VISIT_DATE, VISIT_NO, CLINIC_LABEL, VISIT_TIME_DESC, SERIAL_NO, PATIENT_ID, NAME, 
    NAME_PHONETIC, SEX, AGE, IDENTITY, CHARGE_TYPE, INSURANCE_TYPE, INSURANCE_NO, UNIT_IN_CONTRACT, 
    CLINIC_TYPE, FIRST_VISIT_INDICATOR, VISIT_DEPT, VISIT_SPECIAL_CLINIC, DOCTOR, MR_PROVIDE_INDICATOR, 
    REGISTRATION_STATUS, REGISTERING_DATE, SYMPTOM, REGIST_FEE, CLINIC_FEE, OTHER_FEE, 
    OPERATOR, RETURNED_DATE, RETURNED_OPERATOR, CLINIC_CHARGE, INTERNAL_NO, IDENTITY_CLASS, 
    INVOICE_NO, MODE_CODE, CARD_NAME, CARD_NO, ACCT_DATE_TIME, ACCT_NO, PAY_WAY, MR_PROVIDED_INDICATOR, 
    TALLY_DATE, TALLY_USER, CLINIC_NO, REAL_SORT, ID_NO, GHLSH, OUTP_ID, DIAGCODE, RCPT_NO, 
    RETURNED_ACCT_NO, SERVICE_CLASS, ARMED_SERVICES, SERVICE_SYSTEM_INDICATOR, YGFUND_PAY_SUMAMT, 
    SECURITY_TYPE_CODE, CAL_WAY, POSTRADENO, ECI_REG_ID, DIAGNOSE_ROOM_ID, DOCTOR_ID, 
    VISIT_TIME, REGISTRATION_TYPE_ID, REG_DOCTOR_ID, REG_DEPT_ID,
    REG_CLINIC_DEPT_ID, WAITING_AREA_ID, DUTY_SETTING_ID, DUTY_TIME_RANGE_ID, DIAGNOSIS_DESC, 
    YGFUND_PAY_WAY, PATIENT_LABEL, LAST_LABEL_STAFF_ID, LAST_LABEL_TIME, ARRANGE_DETAIL_ID, 
    R_VISIT_NO, R_VISIT_DATE, VERIFY_CODE, PATIENT_CLASS, TRANSFER_MARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.xa.eyre.outpadm.domain.ClinicMasterKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CLINIC_MASTER
    where VISIT_DATE = #{visitDate,jdbcType=TIMESTAMP}
      and VISIT_NO = #{visitNo,jdbcType=NUMERIC}
  </select>
    <select id="selectClinicMaster" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from CLINIC_MASTER c
      <where>
        <if test="visitDate != null">
          and c.VISIT_DATE = TO_DATE(#{visitDate,jdbcType=TIMESTAMP}, 'YYYY-MM-DD')
        </if>
        <if test="visitNo != null">
          and c.VISIT_NO = #{visitNo,jdbcType=NUMERIC}
        </if>
        <if test="patientId != null">
          and c.PATIENT_ID = #{patientId,jdbcType=VARCHAR}
        </if>
      </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="cn.xa.eyre.outpadm.domain.ClinicMasterKey">
    delete from CLINIC_MASTER
    where VISIT_DATE = #{visitDate,jdbcType=TIMESTAMP}
      and VISIT_NO = #{visitNo,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="cn.xa.eyre.outpadm.domain.ClinicMaster">
    insert into CLINIC_MASTER (VISIT_DATE, VISIT_NO, CLINIC_LABEL, 
      VISIT_TIME_DESC, SERIAL_NO, PATIENT_ID, 
      NAME, NAME_PHONETIC, SEX, 
      AGE, IDENTITY, CHARGE_TYPE, 
      INSURANCE_TYPE, INSURANCE_NO, UNIT_IN_CONTRACT, 
      CLINIC_TYPE, FIRST_VISIT_INDICATOR, VISIT_DEPT, 
      VISIT_SPECIAL_CLINIC, DOCTOR, MR_PROVIDE_INDICATOR, 
      REGISTRATION_STATUS, REGISTERING_DATE, 
      SYMPTOM, REGIST_FEE, CLINIC_FEE, 
      OTHER_FEE, OPERATOR, RETURNED_DATE, 
      RETURNED_OPERATOR, CLINIC_CHARGE, INTERNAL_NO, 
      IDENTITY_CLASS, INVOICE_NO, MODE_CODE, 
      CARD_NAME, CARD_NO, ACCT_DATE_TIME, 
      ACCT_NO, PAY_WAY, MR_PROVIDED_INDICATOR, 
      TALLY_DATE, TALLY_USER, CLINIC_NO, 
      REAL_SORT, ID_NO, GHLSH, 
      OUTP_ID, DIAGCODE, RCPT_NO, 
      RETURNED_ACCT_NO, SERVICE_CLASS, ARMED_SERVICES, 
      SERVICE_SYSTEM_INDICATOR, YGFUND_PAY_SUMAMT, 
      SECURITY_TYPE_CODE, CAL_WAY, POSTRADENO, 
      ECI_REG_ID, DIAGNOSE_ROOM_ID, DOCTOR_ID, 
      VISIT_TIME, REGISTRATION_TYPE_ID, REG_DOCTOR_ID,
      REG_DEPT_ID, REG_CLINIC_DEPT_ID, WAITING_AREA_ID, 
      DUTY_SETTING_ID, DUTY_TIME_RANGE_ID, DIAGNOSIS_DESC, 
      YGFUND_PAY_WAY, PATIENT_LABEL, LAST_LABEL_STAFF_ID, 
      LAST_LABEL_TIME, ARRANGE_DETAIL_ID, R_VISIT_NO, 
      R_VISIT_DATE, VERIFY_CODE, PATIENT_CLASS, 
      TRANSFER_MARK)
    values (#{visitDate,jdbcType=TIMESTAMP}, #{visitNo,jdbcType=NUMERIC}, #{clinicLabel,jdbcType=VARCHAR}, 
      #{visitTimeDesc,jdbcType=VARCHAR}, #{serialNo,jdbcType=NUMERIC}, #{patientId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{namePhonetic,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{age,jdbcType=NUMERIC}, #{identity,jdbcType=VARCHAR}, #{chargeType,jdbcType=VARCHAR}, 
      #{insuranceType,jdbcType=VARCHAR}, #{insuranceNo,jdbcType=VARCHAR}, #{unitInContract,jdbcType=VARCHAR}, 
      #{clinicType,jdbcType=VARCHAR}, #{firstVisitIndicator,jdbcType=NUMERIC}, #{visitDept,jdbcType=VARCHAR}, 
      #{visitSpecialClinic,jdbcType=VARCHAR}, #{doctor,jdbcType=VARCHAR}, #{mrProvideIndicator,jdbcType=NUMERIC}, 
      #{registrationStatus,jdbcType=NUMERIC}, #{registeringDate,jdbcType=TIMESTAMP}, 
      #{symptom,jdbcType=VARCHAR}, #{registFee,jdbcType=NUMERIC}, #{clinicFee,jdbcType=NUMERIC}, 
      #{otherFee,jdbcType=NUMERIC}, #{operator,jdbcType=VARCHAR}, #{returnedDate,jdbcType=TIMESTAMP}, 
      #{returnedOperator,jdbcType=VARCHAR}, #{clinicCharge,jdbcType=NUMERIC}, #{internalNo,jdbcType=VARCHAR}, 
      #{identityClass,jdbcType=VARCHAR}, #{invoiceNo,jdbcType=VARCHAR}, #{modeCode,jdbcType=CHAR}, 
      #{cardName,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR}, #{acctDateTime,jdbcType=TIMESTAMP}, 
      #{acctNo,jdbcType=VARCHAR}, #{payWay,jdbcType=VARCHAR}, #{mrProvidedIndicator,jdbcType=NUMERIC}, 
      #{tallyDate,jdbcType=TIMESTAMP}, #{tallyUser,jdbcType=VARCHAR}, #{clinicNo,jdbcType=VARCHAR}, 
      #{realSort,jdbcType=VARCHAR}, #{idNo,jdbcType=VARCHAR}, #{ghlsh,jdbcType=VARCHAR}, 
      #{outpId,jdbcType=NUMERIC}, #{diagcode,jdbcType=VARCHAR}, #{rcptNo,jdbcType=VARCHAR}, 
      #{returnedAcctNo,jdbcType=VARCHAR}, #{serviceClass,jdbcType=VARCHAR}, #{armedServices,jdbcType=VARCHAR}, 
      #{serviceSystemIndicator,jdbcType=NUMERIC}, #{ygfundPaySumamt,jdbcType=NUMERIC}, 
      #{securityTypeCode,jdbcType=VARCHAR}, #{calWay,jdbcType=VARCHAR}, #{postradeno,jdbcType=VARCHAR}, 
      #{eciRegId,jdbcType=VARCHAR}, #{diagnoseRoomId,jdbcType=VARCHAR}, #{doctorId,jdbcType=VARCHAR}, 
      #{visitTime,jdbcType=TIMESTAMP}, #{registrationTypeId,jdbcType=VARCHAR}, #{regDoctorId,jdbcType=VARCHAR},
      #{regDeptId,jdbcType=VARCHAR}, #{regClinicDeptId,jdbcType=VARCHAR}, #{waitingAreaId,jdbcType=VARCHAR}, 
      #{dutySettingId,jdbcType=VARCHAR}, #{dutyTimeRangeId,jdbcType=VARCHAR}, #{diagnosisDesc,jdbcType=VARCHAR}, 
      #{ygfundPayWay,jdbcType=VARCHAR}, #{patientLabel,jdbcType=CHAR}, #{lastLabelStaffId,jdbcType=VARCHAR}, 
      #{lastLabelTime,jdbcType=TIMESTAMP}, #{arrangeDetailId,jdbcType=VARCHAR}, #{rVisitNo,jdbcType=NUMERIC}, 
      #{rVisitDate,jdbcType=TIMESTAMP}, #{verifyCode,jdbcType=VARCHAR}, #{patientClass,jdbcType=VARCHAR}, 
      #{transferMark,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xa.eyre.outpadm.domain.ClinicMaster">
    insert into CLINIC_MASTER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="visitDate != null">
        VISIT_DATE,
      </if>
      <if test="visitNo != null">
        VISIT_NO,
      </if>
      <if test="clinicLabel != null">
        CLINIC_LABEL,
      </if>
      <if test="visitTimeDesc != null">
        VISIT_TIME_DESC,
      </if>
      <if test="serialNo != null">
        SERIAL_NO,
      </if>
      <if test="patientId != null">
        PATIENT_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="namePhonetic != null">
        NAME_PHONETIC,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="age != null">
        AGE,
      </if>
      <if test="identity != null">
        IDENTITY,
      </if>
      <if test="chargeType != null">
        CHARGE_TYPE,
      </if>
      <if test="insuranceType != null">
        INSURANCE_TYPE,
      </if>
      <if test="insuranceNo != null">
        INSURANCE_NO,
      </if>
      <if test="unitInContract != null">
        UNIT_IN_CONTRACT,
      </if>
      <if test="clinicType != null">
        CLINIC_TYPE,
      </if>
      <if test="firstVisitIndicator != null">
        FIRST_VISIT_INDICATOR,
      </if>
      <if test="visitDept != null">
        VISIT_DEPT,
      </if>
      <if test="visitSpecialClinic != null">
        VISIT_SPECIAL_CLINIC,
      </if>
      <if test="doctor != null">
        DOCTOR,
      </if>
      <if test="mrProvideIndicator != null">
        MR_PROVIDE_INDICATOR,
      </if>
      <if test="registrationStatus != null">
        REGISTRATION_STATUS,
      </if>
      <if test="registeringDate != null">
        REGISTERING_DATE,
      </if>
      <if test="symptom != null">
        SYMPTOM,
      </if>
      <if test="registFee != null">
        REGIST_FEE,
      </if>
      <if test="clinicFee != null">
        CLINIC_FEE,
      </if>
      <if test="otherFee != null">
        OTHER_FEE,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="returnedDate != null">
        RETURNED_DATE,
      </if>
      <if test="returnedOperator != null">
        RETURNED_OPERATOR,
      </if>
      <if test="clinicCharge != null">
        CLINIC_CHARGE,
      </if>
      <if test="internalNo != null">
        INTERNAL_NO,
      </if>
      <if test="identityClass != null">
        IDENTITY_CLASS,
      </if>
      <if test="invoiceNo != null">
        INVOICE_NO,
      </if>
      <if test="modeCode != null">
        MODE_CODE,
      </if>
      <if test="cardName != null">
        CARD_NAME,
      </if>
      <if test="cardNo != null">
        CARD_NO,
      </if>
      <if test="acctDateTime != null">
        ACCT_DATE_TIME,
      </if>
      <if test="acctNo != null">
        ACCT_NO,
      </if>
      <if test="payWay != null">
        PAY_WAY,
      </if>
      <if test="mrProvidedIndicator != null">
        MR_PROVIDED_INDICATOR,
      </if>
      <if test="tallyDate != null">
        TALLY_DATE,
      </if>
      <if test="tallyUser != null">
        TALLY_USER,
      </if>
      <if test="clinicNo != null">
        CLINIC_NO,
      </if>
      <if test="realSort != null">
        REAL_SORT,
      </if>
      <if test="idNo != null">
        ID_NO,
      </if>
      <if test="ghlsh != null">
        GHLSH,
      </if>
      <if test="outpId != null">
        OUTP_ID,
      </if>
      <if test="diagcode != null">
        DIAGCODE,
      </if>
      <if test="rcptNo != null">
        RCPT_NO,
      </if>
      <if test="returnedAcctNo != null">
        RETURNED_ACCT_NO,
      </if>
      <if test="serviceClass != null">
        SERVICE_CLASS,
      </if>
      <if test="armedServices != null">
        ARMED_SERVICES,
      </if>
      <if test="serviceSystemIndicator != null">
        SERVICE_SYSTEM_INDICATOR,
      </if>
      <if test="ygfundPaySumamt != null">
        YGFUND_PAY_SUMAMT,
      </if>
      <if test="securityTypeCode != null">
        SECURITY_TYPE_CODE,
      </if>
      <if test="calWay != null">
        CAL_WAY,
      </if>
      <if test="postradeno != null">
        POSTRADENO,
      </if>
      <if test="eciRegId != null">
        ECI_REG_ID,
      </if>
      <if test="diagnoseRoomId != null">
        DIAGNOSE_ROOM_ID,
      </if>
      <if test="doctorId != null">
        DOCTOR_ID,
      </if>
      <if test="visitTime != null">
        VISIT_TIME,
      </if>
      <if test="registrationTypeId != null">
        REGISTRATION_TYPE_ID,
      </if>
      <if test="regDoctorId != null">
        REG_DOCTOR_ID,
      </if>
      <if test="regDeptId != null">
        REG_DEPT_ID,
      </if>
      <if test="regClinicDeptId != null">
        REG_CLINIC_DEPT_ID,
      </if>
      <if test="waitingAreaId != null">
        WAITING_AREA_ID,
      </if>
      <if test="dutySettingId != null">
        DUTY_SETTING_ID,
      </if>
      <if test="dutyTimeRangeId != null">
        DUTY_TIME_RANGE_ID,
      </if>
      <if test="diagnosisDesc != null">
        DIAGNOSIS_DESC,
      </if>
      <if test="ygfundPayWay != null">
        YGFUND_PAY_WAY,
      </if>
      <if test="patientLabel != null">
        PATIENT_LABEL,
      </if>
      <if test="lastLabelStaffId != null">
        LAST_LABEL_STAFF_ID,
      </if>
      <if test="lastLabelTime != null">
        LAST_LABEL_TIME,
      </if>
      <if test="arrangeDetailId != null">
        ARRANGE_DETAIL_ID,
      </if>
      <if test="rVisitNo != null">
        R_VISIT_NO,
      </if>
      <if test="rVisitDate != null">
        R_VISIT_DATE,
      </if>
      <if test="verifyCode != null">
        VERIFY_CODE,
      </if>
      <if test="patientClass != null">
        PATIENT_CLASS,
      </if>
      <if test="transferMark != null">
        TRANSFER_MARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="visitDate != null">
        #{visitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="visitNo != null">
        #{visitNo,jdbcType=NUMERIC},
      </if>
      <if test="clinicLabel != null">
        #{clinicLabel,jdbcType=VARCHAR},
      </if>
      <if test="visitTimeDesc != null">
        #{visitTimeDesc,jdbcType=VARCHAR},
      </if>
      <if test="serialNo != null">
        #{serialNo,jdbcType=NUMERIC},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="namePhonetic != null">
        #{namePhonetic,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=NUMERIC},
      </if>
      <if test="identity != null">
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null">
        #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="insuranceType != null">
        #{insuranceType,jdbcType=VARCHAR},
      </if>
      <if test="insuranceNo != null">
        #{insuranceNo,jdbcType=VARCHAR},
      </if>
      <if test="unitInContract != null">
        #{unitInContract,jdbcType=VARCHAR},
      </if>
      <if test="clinicType != null">
        #{clinicType,jdbcType=VARCHAR},
      </if>
      <if test="firstVisitIndicator != null">
        #{firstVisitIndicator,jdbcType=NUMERIC},
      </if>
      <if test="visitDept != null">
        #{visitDept,jdbcType=VARCHAR},
      </if>
      <if test="visitSpecialClinic != null">
        #{visitSpecialClinic,jdbcType=VARCHAR},
      </if>
      <if test="doctor != null">
        #{doctor,jdbcType=VARCHAR},
      </if>
      <if test="mrProvideIndicator != null">
        #{mrProvideIndicator,jdbcType=NUMERIC},
      </if>
      <if test="registrationStatus != null">
        #{registrationStatus,jdbcType=NUMERIC},
      </if>
      <if test="registeringDate != null">
        #{registeringDate,jdbcType=TIMESTAMP},
      </if>
      <if test="symptom != null">
        #{symptom,jdbcType=VARCHAR},
      </if>
      <if test="registFee != null">
        #{registFee,jdbcType=NUMERIC},
      </if>
      <if test="clinicFee != null">
        #{clinicFee,jdbcType=NUMERIC},
      </if>
      <if test="otherFee != null">
        #{otherFee,jdbcType=NUMERIC},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="returnedDate != null">
        #{returnedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="returnedOperator != null">
        #{returnedOperator,jdbcType=VARCHAR},
      </if>
      <if test="clinicCharge != null">
        #{clinicCharge,jdbcType=NUMERIC},
      </if>
      <if test="internalNo != null">
        #{internalNo,jdbcType=VARCHAR},
      </if>
      <if test="identityClass != null">
        #{identityClass,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNo != null">
        #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="modeCode != null">
        #{modeCode,jdbcType=CHAR},
      </if>
      <if test="cardName != null">
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="acctDateTime != null">
        #{acctDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acctNo != null">
        #{acctNo,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null">
        #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="mrProvidedIndicator != null">
        #{mrProvidedIndicator,jdbcType=NUMERIC},
      </if>
      <if test="tallyDate != null">
        #{tallyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tallyUser != null">
        #{tallyUser,jdbcType=VARCHAR},
      </if>
      <if test="clinicNo != null">
        #{clinicNo,jdbcType=VARCHAR},
      </if>
      <if test="realSort != null">
        #{realSort,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null">
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="ghlsh != null">
        #{ghlsh,jdbcType=VARCHAR},
      </if>
      <if test="outpId != null">
        #{outpId,jdbcType=NUMERIC},
      </if>
      <if test="diagcode != null">
        #{diagcode,jdbcType=VARCHAR},
      </if>
      <if test="rcptNo != null">
        #{rcptNo,jdbcType=VARCHAR},
      </if>
      <if test="returnedAcctNo != null">
        #{returnedAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="serviceClass != null">
        #{serviceClass,jdbcType=VARCHAR},
      </if>
      <if test="armedServices != null">
        #{armedServices,jdbcType=VARCHAR},
      </if>
      <if test="serviceSystemIndicator != null">
        #{serviceSystemIndicator,jdbcType=NUMERIC},
      </if>
      <if test="ygfundPaySumamt != null">
        #{ygfundPaySumamt,jdbcType=NUMERIC},
      </if>
      <if test="securityTypeCode != null">
        #{securityTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="calWay != null">
        #{calWay,jdbcType=VARCHAR},
      </if>
      <if test="postradeno != null">
        #{postradeno,jdbcType=VARCHAR},
      </if>
      <if test="eciRegId != null">
        #{eciRegId,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseRoomId != null">
        #{diagnoseRoomId,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="visitTime != null">
        #{visitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registrationTypeId != null">
        #{registrationTypeId,jdbcType=VARCHAR},
      </if>
      <if test="regDoctorId != null">
        #{regDoctorId,jdbcType=VARCHAR},
      </if>
      <if test="regDeptId != null">
        #{regDeptId,jdbcType=VARCHAR},
      </if>
      <if test="regClinicDeptId != null">
        #{regClinicDeptId,jdbcType=VARCHAR},
      </if>
      <if test="waitingAreaId != null">
        #{waitingAreaId,jdbcType=VARCHAR},
      </if>
      <if test="dutySettingId != null">
        #{dutySettingId,jdbcType=VARCHAR},
      </if>
      <if test="dutyTimeRangeId != null">
        #{dutyTimeRangeId,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisDesc != null">
        #{diagnosisDesc,jdbcType=VARCHAR},
      </if>
      <if test="ygfundPayWay != null">
        #{ygfundPayWay,jdbcType=VARCHAR},
      </if>
      <if test="patientLabel != null">
        #{patientLabel,jdbcType=CHAR},
      </if>
      <if test="lastLabelStaffId != null">
        #{lastLabelStaffId,jdbcType=VARCHAR},
      </if>
      <if test="lastLabelTime != null">
        #{lastLabelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arrangeDetailId != null">
        #{arrangeDetailId,jdbcType=VARCHAR},
      </if>
      <if test="rVisitNo != null">
        #{rVisitNo,jdbcType=NUMERIC},
      </if>
      <if test="rVisitDate != null">
        #{rVisitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyCode != null">
        #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="patientClass != null">
        #{patientClass,jdbcType=VARCHAR},
      </if>
      <if test="transferMark != null">
        #{transferMark,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xa.eyre.outpadm.domain.ClinicMaster">
    update CLINIC_MASTER
    <set>
      <if test="clinicLabel != null">
        CLINIC_LABEL = #{clinicLabel,jdbcType=VARCHAR},
      </if>
      <if test="visitTimeDesc != null">
        VISIT_TIME_DESC = #{visitTimeDesc,jdbcType=VARCHAR},
      </if>
      <if test="serialNo != null">
        SERIAL_NO = #{serialNo,jdbcType=NUMERIC},
      </if>
      <if test="patientId != null">
        PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="namePhonetic != null">
        NAME_PHONETIC = #{namePhonetic,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        AGE = #{age,jdbcType=NUMERIC},
      </if>
      <if test="identity != null">
        IDENTITY = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null">
        CHARGE_TYPE = #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="insuranceType != null">
        INSURANCE_TYPE = #{insuranceType,jdbcType=VARCHAR},
      </if>
      <if test="insuranceNo != null">
        INSURANCE_NO = #{insuranceNo,jdbcType=VARCHAR},
      </if>
      <if test="unitInContract != null">
        UNIT_IN_CONTRACT = #{unitInContract,jdbcType=VARCHAR},
      </if>
      <if test="clinicType != null">
        CLINIC_TYPE = #{clinicType,jdbcType=VARCHAR},
      </if>
      <if test="firstVisitIndicator != null">
        FIRST_VISIT_INDICATOR = #{firstVisitIndicator,jdbcType=NUMERIC},
      </if>
      <if test="visitDept != null">
        VISIT_DEPT = #{visitDept,jdbcType=VARCHAR},
      </if>
      <if test="visitSpecialClinic != null">
        VISIT_SPECIAL_CLINIC = #{visitSpecialClinic,jdbcType=VARCHAR},
      </if>
      <if test="doctor != null">
        DOCTOR = #{doctor,jdbcType=VARCHAR},
      </if>
      <if test="mrProvideIndicator != null">
        MR_PROVIDE_INDICATOR = #{mrProvideIndicator,jdbcType=NUMERIC},
      </if>
      <if test="registrationStatus != null">
        REGISTRATION_STATUS = #{registrationStatus,jdbcType=NUMERIC},
      </if>
      <if test="registeringDate != null">
        REGISTERING_DATE = #{registeringDate,jdbcType=TIMESTAMP},
      </if>
      <if test="symptom != null">
        SYMPTOM = #{symptom,jdbcType=VARCHAR},
      </if>
      <if test="registFee != null">
        REGIST_FEE = #{registFee,jdbcType=NUMERIC},
      </if>
      <if test="clinicFee != null">
        CLINIC_FEE = #{clinicFee,jdbcType=NUMERIC},
      </if>
      <if test="otherFee != null">
        OTHER_FEE = #{otherFee,jdbcType=NUMERIC},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="returnedDate != null">
        RETURNED_DATE = #{returnedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="returnedOperator != null">
        RETURNED_OPERATOR = #{returnedOperator,jdbcType=VARCHAR},
      </if>
      <if test="clinicCharge != null">
        CLINIC_CHARGE = #{clinicCharge,jdbcType=NUMERIC},
      </if>
      <if test="internalNo != null">
        INTERNAL_NO = #{internalNo,jdbcType=VARCHAR},
      </if>
      <if test="identityClass != null">
        IDENTITY_CLASS = #{identityClass,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNo != null">
        INVOICE_NO = #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="modeCode != null">
        MODE_CODE = #{modeCode,jdbcType=CHAR},
      </if>
      <if test="cardName != null">
        CARD_NAME = #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        CARD_NO = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="acctDateTime != null">
        ACCT_DATE_TIME = #{acctDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acctNo != null">
        ACCT_NO = #{acctNo,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null">
        PAY_WAY = #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="mrProvidedIndicator != null">
        MR_PROVIDED_INDICATOR = #{mrProvidedIndicator,jdbcType=NUMERIC},
      </if>
      <if test="tallyDate != null">
        TALLY_DATE = #{tallyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tallyUser != null">
        TALLY_USER = #{tallyUser,jdbcType=VARCHAR},
      </if>
      <if test="clinicNo != null">
        CLINIC_NO = #{clinicNo,jdbcType=VARCHAR},
      </if>
      <if test="realSort != null">
        REAL_SORT = #{realSort,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null">
        ID_NO = #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="ghlsh != null">
        GHLSH = #{ghlsh,jdbcType=VARCHAR},
      </if>
      <if test="outpId != null">
        OUTP_ID = #{outpId,jdbcType=NUMERIC},
      </if>
      <if test="diagcode != null">
        DIAGCODE = #{diagcode,jdbcType=VARCHAR},
      </if>
      <if test="rcptNo != null">
        RCPT_NO = #{rcptNo,jdbcType=VARCHAR},
      </if>
      <if test="returnedAcctNo != null">
        RETURNED_ACCT_NO = #{returnedAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="serviceClass != null">
        SERVICE_CLASS = #{serviceClass,jdbcType=VARCHAR},
      </if>
      <if test="armedServices != null">
        ARMED_SERVICES = #{armedServices,jdbcType=VARCHAR},
      </if>
      <if test="serviceSystemIndicator != null">
        SERVICE_SYSTEM_INDICATOR = #{serviceSystemIndicator,jdbcType=NUMERIC},
      </if>
      <if test="ygfundPaySumamt != null">
        YGFUND_PAY_SUMAMT = #{ygfundPaySumamt,jdbcType=NUMERIC},
      </if>
      <if test="securityTypeCode != null">
        SECURITY_TYPE_CODE = #{securityTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="calWay != null">
        CAL_WAY = #{calWay,jdbcType=VARCHAR},
      </if>
      <if test="postradeno != null">
        POSTRADENO = #{postradeno,jdbcType=VARCHAR},
      </if>
      <if test="eciRegId != null">
        ECI_REG_ID = #{eciRegId,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseRoomId != null">
        DIAGNOSE_ROOM_ID = #{diagnoseRoomId,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null">
        DOCTOR_ID = #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="visitTime != null">
        VISIT_TIME = #{visitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registrationTypeId != null">
        REGISTRATION_TYPE_ID = #{registrationTypeId,jdbcType=VARCHAR},
      </if>
      <if test="regDoctorId != null">
        REG_DOCTOR_ID = #{regDoctorId,jdbcType=VARCHAR},
      </if>
      <if test="regDeptId != null">
        REG_DEPT_ID = #{regDeptId,jdbcType=VARCHAR},
      </if>
      <if test="regClinicDeptId != null">
        REG_CLINIC_DEPT_ID = #{regClinicDeptId,jdbcType=VARCHAR},
      </if>
      <if test="waitingAreaId != null">
        WAITING_AREA_ID = #{waitingAreaId,jdbcType=VARCHAR},
      </if>
      <if test="dutySettingId != null">
        DUTY_SETTING_ID = #{dutySettingId,jdbcType=VARCHAR},
      </if>
      <if test="dutyTimeRangeId != null">
        DUTY_TIME_RANGE_ID = #{dutyTimeRangeId,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisDesc != null">
        DIAGNOSIS_DESC = #{diagnosisDesc,jdbcType=VARCHAR},
      </if>
      <if test="ygfundPayWay != null">
        YGFUND_PAY_WAY = #{ygfundPayWay,jdbcType=VARCHAR},
      </if>
      <if test="patientLabel != null">
        PATIENT_LABEL = #{patientLabel,jdbcType=CHAR},
      </if>
      <if test="lastLabelStaffId != null">
        LAST_LABEL_STAFF_ID = #{lastLabelStaffId,jdbcType=VARCHAR},
      </if>
      <if test="lastLabelTime != null">
        LAST_LABEL_TIME = #{lastLabelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arrangeDetailId != null">
        ARRANGE_DETAIL_ID = #{arrangeDetailId,jdbcType=VARCHAR},
      </if>
      <if test="rVisitNo != null">
        R_VISIT_NO = #{rVisitNo,jdbcType=NUMERIC},
      </if>
      <if test="rVisitDate != null">
        R_VISIT_DATE = #{rVisitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyCode != null">
        VERIFY_CODE = #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="patientClass != null">
        PATIENT_CLASS = #{patientClass,jdbcType=VARCHAR},
      </if>
      <if test="transferMark != null">
        TRANSFER_MARK = #{transferMark,jdbcType=CHAR},
      </if>
    </set>
    where VISIT_DATE = #{visitDate,jdbcType=TIMESTAMP}
      and VISIT_NO = #{visitNo,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xa.eyre.outpadm.domain.ClinicMaster">
    update CLINIC_MASTER
    set CLINIC_LABEL = #{clinicLabel,jdbcType=VARCHAR},
      VISIT_TIME_DESC = #{visitTimeDesc,jdbcType=VARCHAR},
      SERIAL_NO = #{serialNo,jdbcType=NUMERIC},
      PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      NAME_PHONETIC = #{namePhonetic,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      AGE = #{age,jdbcType=NUMERIC},
      IDENTITY = #{identity,jdbcType=VARCHAR},
      CHARGE_TYPE = #{chargeType,jdbcType=VARCHAR},
      INSURANCE_TYPE = #{insuranceType,jdbcType=VARCHAR},
      INSURANCE_NO = #{insuranceNo,jdbcType=VARCHAR},
      UNIT_IN_CONTRACT = #{unitInContract,jdbcType=VARCHAR},
      CLINIC_TYPE = #{clinicType,jdbcType=VARCHAR},
      FIRST_VISIT_INDICATOR = #{firstVisitIndicator,jdbcType=NUMERIC},
      VISIT_DEPT = #{visitDept,jdbcType=VARCHAR},
      VISIT_SPECIAL_CLINIC = #{visitSpecialClinic,jdbcType=VARCHAR},
      DOCTOR = #{doctor,jdbcType=VARCHAR},
      MR_PROVIDE_INDICATOR = #{mrProvideIndicator,jdbcType=NUMERIC},
      REGISTRATION_STATUS = #{registrationStatus,jdbcType=NUMERIC},
      REGISTERING_DATE = #{registeringDate,jdbcType=TIMESTAMP},
      SYMPTOM = #{symptom,jdbcType=VARCHAR},
      REGIST_FEE = #{registFee,jdbcType=NUMERIC},
      CLINIC_FEE = #{clinicFee,jdbcType=NUMERIC},
      OTHER_FEE = #{otherFee,jdbcType=NUMERIC},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      RETURNED_DATE = #{returnedDate,jdbcType=TIMESTAMP},
      RETURNED_OPERATOR = #{returnedOperator,jdbcType=VARCHAR},
      CLINIC_CHARGE = #{clinicCharge,jdbcType=NUMERIC},
      INTERNAL_NO = #{internalNo,jdbcType=VARCHAR},
      IDENTITY_CLASS = #{identityClass,jdbcType=VARCHAR},
      INVOICE_NO = #{invoiceNo,jdbcType=VARCHAR},
      MODE_CODE = #{modeCode,jdbcType=CHAR},
      CARD_NAME = #{cardName,jdbcType=VARCHAR},
      CARD_NO = #{cardNo,jdbcType=VARCHAR},
      ACCT_DATE_TIME = #{acctDateTime,jdbcType=TIMESTAMP},
      ACCT_NO = #{acctNo,jdbcType=VARCHAR},
      PAY_WAY = #{payWay,jdbcType=VARCHAR},
      MR_PROVIDED_INDICATOR = #{mrProvidedIndicator,jdbcType=NUMERIC},
      TALLY_DATE = #{tallyDate,jdbcType=TIMESTAMP},
      TALLY_USER = #{tallyUser,jdbcType=VARCHAR},
      CLINIC_NO = #{clinicNo,jdbcType=VARCHAR},
      REAL_SORT = #{realSort,jdbcType=VARCHAR},
      ID_NO = #{idNo,jdbcType=VARCHAR},
      GHLSH = #{ghlsh,jdbcType=VARCHAR},
      OUTP_ID = #{outpId,jdbcType=NUMERIC},
      DIAGCODE = #{diagcode,jdbcType=VARCHAR},
      RCPT_NO = #{rcptNo,jdbcType=VARCHAR},
      RETURNED_ACCT_NO = #{returnedAcctNo,jdbcType=VARCHAR},
      SERVICE_CLASS = #{serviceClass,jdbcType=VARCHAR},
      ARMED_SERVICES = #{armedServices,jdbcType=VARCHAR},
      SERVICE_SYSTEM_INDICATOR = #{serviceSystemIndicator,jdbcType=NUMERIC},
      YGFUND_PAY_SUMAMT = #{ygfundPaySumamt,jdbcType=NUMERIC},
      SECURITY_TYPE_CODE = #{securityTypeCode,jdbcType=VARCHAR},
      CAL_WAY = #{calWay,jdbcType=VARCHAR},
      POSTRADENO = #{postradeno,jdbcType=VARCHAR},
      ECI_REG_ID = #{eciRegId,jdbcType=VARCHAR},
      DIAGNOSE_ROOM_ID = #{diagnoseRoomId,jdbcType=VARCHAR},
      DOCTOR_ID = #{doctorId,jdbcType=VARCHAR},
      VISIT_TIME = #{visitTime,jdbcType=TIMESTAMP},
      REGISTRATION_TYPE_ID = #{registrationTypeId,jdbcType=VARCHAR},
      REG_DOCTOR_ID = #{regDoctorId,jdbcType=VARCHAR},
      REG_DEPT_ID = #{regDeptId,jdbcType=VARCHAR},
      REG_CLINIC_DEPT_ID = #{regClinicDeptId,jdbcType=VARCHAR},
      WAITING_AREA_ID = #{waitingAreaId,jdbcType=VARCHAR},
      DUTY_SETTING_ID = #{dutySettingId,jdbcType=VARCHAR},
      DUTY_TIME_RANGE_ID = #{dutyTimeRangeId,jdbcType=VARCHAR},
      DIAGNOSIS_DESC = #{diagnosisDesc,jdbcType=VARCHAR},
      YGFUND_PAY_WAY = #{ygfundPayWay,jdbcType=VARCHAR},
      PATIENT_LABEL = #{patientLabel,jdbcType=CHAR},
      LAST_LABEL_STAFF_ID = #{lastLabelStaffId,jdbcType=VARCHAR},
      LAST_LABEL_TIME = #{lastLabelTime,jdbcType=TIMESTAMP},
      ARRANGE_DETAIL_ID = #{arrangeDetailId,jdbcType=VARCHAR},
      R_VISIT_NO = #{rVisitNo,jdbcType=NUMERIC},
      R_VISIT_DATE = #{rVisitDate,jdbcType=TIMESTAMP},
      VERIFY_CODE = #{verifyCode,jdbcType=VARCHAR},
      PATIENT_CLASS = #{patientClass,jdbcType=VARCHAR},
      TRANSFER_MARK = #{transferMark,jdbcType=CHAR}
    where VISIT_DATE = #{visitDate,jdbcType=TIMESTAMP}
      and VISIT_NO = #{visitNo,jdbcType=NUMERIC}
  </update>
</mapper>