<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa.eyre.outpdoct.mapper.OutpMrMapper">
  <resultMap id="BaseResultMap" type="cn.xa.eyre.outpdoct.domain.OutpMr">
    <id column="VISIT_DATE" jdbcType="TIMESTAMP" property="visitDate" />
    <id column="VISIT_NO" jdbcType="NUMERIC" property="visitNo" />
    <result column="PATIENT_ID" jdbcType="VARCHAR" property="patientId" />
    <result column="ILLNESS_DESC" jdbcType="VARCHAR" property="illnessDesc" />
    <result column="ANAMNESIS" jdbcType="VARCHAR" property="anamnesis" />
    <result column="FAMILY_ILL" jdbcType="VARCHAR" property="familyIll" />
    <result column="MARRITAL" jdbcType="VARCHAR" property="marrital" />
    <result column="INDIVIDUAL" jdbcType="VARCHAR" property="individual" />
    <result column="MENSES" jdbcType="VARCHAR" property="menses" />
    <result column="MED_HISTORY" jdbcType="VARCHAR" property="medHistory" />
    <result column="BODY_EXAM" jdbcType="VARCHAR" property="bodyExam" />
    <result column="DIAG_DESC" jdbcType="VARCHAR" property="diagDesc" />
    <result column="ADVICE" jdbcType="VARCHAR" property="advice" />
    <result column="DOCTOR" jdbcType="VARCHAR" property="doctor" />
    <result column="VISIT_ID" jdbcType="NUMERIC" property="visitId" />
    <result column="MR_NO" jdbcType="NUMERIC" property="mrNo" />
    <result column="DIAG_CODE" jdbcType="VARCHAR" property="diagCode" />
    <result column="BLOOD_PRESSURE_MARK" jdbcType="NUMERIC" property="bloodPressureMark" />
    <result column="BLOOD_PRESSURE_LOW" jdbcType="NUMERIC" property="bloodPressureLow" />
    <result column="BLOOD_PRESSURE_HIGH" jdbcType="NUMERIC" property="bloodPressureHigh" />
    <result column="SBP" jdbcType="NUMERIC" property="sbp" />
    <result column="DBP" jdbcType="NUMERIC" property="dbp" />
    <result column="MEDICAL_RECORD" jdbcType="VARCHAR" property="medicalRecord" />
    <result column="OPERATION_RECORD" jdbcType="VARCHAR" property="operationRecord" />
    <result column="ORDINAL" jdbcType="VARCHAR" property="ordinal" />
    <result column="HEART_RATE" jdbcType="NUMERIC" property="heartRate" />
    <result column="REDOSAGE" jdbcType="NUMERIC" property="redosage" />
  </resultMap>
  <sql id="Base_Column_List">
    VISIT_DATE, VISIT_NO, PATIENT_ID, ILLNESS_DESC, ANAMNESIS, FAMILY_ILL, MARRITAL, 
    INDIVIDUAL, MENSES, MED_HISTORY, BODY_EXAM, DIAG_DESC, ADVICE, DOCTOR, VISIT_ID, 
    MR_NO, DIAG_CODE, BLOOD_PRESSURE_MARK, BLOOD_PRESSURE_LOW, BLOOD_PRESSURE_HIGH, SBP, 
    DBP, MEDICAL_RECORD, OPERATION_RECORD, ORDINAL, HEART_RATE, REDOSAGE
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.xa.eyre.outpdoct.domain.OutpMrKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OUTP_MR
    where VISIT_DATE = #{visitDate,jdbcType=TIMESTAMP}
      and VISIT_NO = #{visitNo,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.xa.eyre.outpdoct.domain.OutpMrKey">
    delete from OUTP_MR
    where VISIT_DATE = #{visitDate,jdbcType=TIMESTAMP}
      and VISIT_NO = #{visitNo,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="cn.xa.eyre.outpdoct.domain.OutpMr">
    insert into OUTP_MR (VISIT_DATE, VISIT_NO, PATIENT_ID, 
      ILLNESS_DESC, ANAMNESIS, FAMILY_ILL, 
      MARRITAL, INDIVIDUAL, MENSES, 
      MED_HISTORY, BODY_EXAM, DIAG_DESC, 
      ADVICE, DOCTOR, VISIT_ID, 
      MR_NO, DIAG_CODE, BLOOD_PRESSURE_MARK, 
      BLOOD_PRESSURE_LOW, BLOOD_PRESSURE_HIGH, SBP, 
      DBP, MEDICAL_RECORD, OPERATION_RECORD, 
      ORDINAL, HEART_RATE, REDOSAGE
      )
    values (#{visitDate,jdbcType=TIMESTAMP}, #{visitNo,jdbcType=NUMERIC}, #{patientId,jdbcType=VARCHAR}, 
      #{illnessDesc,jdbcType=VARCHAR}, #{anamnesis,jdbcType=VARCHAR}, #{familyIll,jdbcType=VARCHAR}, 
      #{marrital,jdbcType=VARCHAR}, #{individual,jdbcType=VARCHAR}, #{menses,jdbcType=VARCHAR}, 
      #{medHistory,jdbcType=VARCHAR}, #{bodyExam,jdbcType=VARCHAR}, #{diagDesc,jdbcType=VARCHAR}, 
      #{advice,jdbcType=VARCHAR}, #{doctor,jdbcType=VARCHAR}, #{visitId,jdbcType=NUMERIC}, 
      #{mrNo,jdbcType=NUMERIC}, #{diagCode,jdbcType=VARCHAR}, #{bloodPressureMark,jdbcType=NUMERIC}, 
      #{bloodPressureLow,jdbcType=NUMERIC}, #{bloodPressureHigh,jdbcType=NUMERIC}, #{sbp,jdbcType=NUMERIC}, 
      #{dbp,jdbcType=NUMERIC}, #{medicalRecord,jdbcType=VARCHAR}, #{operationRecord,jdbcType=VARCHAR}, 
      #{ordinal,jdbcType=VARCHAR}, #{heartRate,jdbcType=NUMERIC}, #{redosage,jdbcType=NUMERIC}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.xa.eyre.outpdoct.domain.OutpMr">
    insert into OUTP_MR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="visitDate != null">
        VISIT_DATE,
      </if>
      <if test="visitNo != null">
        VISIT_NO,
      </if>
      <if test="patientId != null">
        PATIENT_ID,
      </if>
      <if test="illnessDesc != null">
        ILLNESS_DESC,
      </if>
      <if test="anamnesis != null">
        ANAMNESIS,
      </if>
      <if test="familyIll != null">
        FAMILY_ILL,
      </if>
      <if test="marrital != null">
        MARRITAL,
      </if>
      <if test="individual != null">
        INDIVIDUAL,
      </if>
      <if test="menses != null">
        MENSES,
      </if>
      <if test="medHistory != null">
        MED_HISTORY,
      </if>
      <if test="bodyExam != null">
        BODY_EXAM,
      </if>
      <if test="diagDesc != null">
        DIAG_DESC,
      </if>
      <if test="advice != null">
        ADVICE,
      </if>
      <if test="doctor != null">
        DOCTOR,
      </if>
      <if test="visitId != null">
        VISIT_ID,
      </if>
      <if test="mrNo != null">
        MR_NO,
      </if>
      <if test="diagCode != null">
        DIAG_CODE,
      </if>
      <if test="bloodPressureMark != null">
        BLOOD_PRESSURE_MARK,
      </if>
      <if test="bloodPressureLow != null">
        BLOOD_PRESSURE_LOW,
      </if>
      <if test="bloodPressureHigh != null">
        BLOOD_PRESSURE_HIGH,
      </if>
      <if test="sbp != null">
        SBP,
      </if>
      <if test="dbp != null">
        DBP,
      </if>
      <if test="medicalRecord != null">
        MEDICAL_RECORD,
      </if>
      <if test="operationRecord != null">
        OPERATION_RECORD,
      </if>
      <if test="ordinal != null">
        ORDINAL,
      </if>
      <if test="heartRate != null">
        HEART_RATE,
      </if>
      <if test="redosage != null">
        REDOSAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="visitDate != null">
        #{visitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="visitNo != null">
        #{visitNo,jdbcType=NUMERIC},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="illnessDesc != null">
        #{illnessDesc,jdbcType=VARCHAR},
      </if>
      <if test="anamnesis != null">
        #{anamnesis,jdbcType=VARCHAR},
      </if>
      <if test="familyIll != null">
        #{familyIll,jdbcType=VARCHAR},
      </if>
      <if test="marrital != null">
        #{marrital,jdbcType=VARCHAR},
      </if>
      <if test="individual != null">
        #{individual,jdbcType=VARCHAR},
      </if>
      <if test="menses != null">
        #{menses,jdbcType=VARCHAR},
      </if>
      <if test="medHistory != null">
        #{medHistory,jdbcType=VARCHAR},
      </if>
      <if test="bodyExam != null">
        #{bodyExam,jdbcType=VARCHAR},
      </if>
      <if test="diagDesc != null">
        #{diagDesc,jdbcType=VARCHAR},
      </if>
      <if test="advice != null">
        #{advice,jdbcType=VARCHAR},
      </if>
      <if test="doctor != null">
        #{doctor,jdbcType=VARCHAR},
      </if>
      <if test="visitId != null">
        #{visitId,jdbcType=NUMERIC},
      </if>
      <if test="mrNo != null">
        #{mrNo,jdbcType=NUMERIC},
      </if>
      <if test="diagCode != null">
        #{diagCode,jdbcType=VARCHAR},
      </if>
      <if test="bloodPressureMark != null">
        #{bloodPressureMark,jdbcType=NUMERIC},
      </if>
      <if test="bloodPressureLow != null">
        #{bloodPressureLow,jdbcType=NUMERIC},
      </if>
      <if test="bloodPressureHigh != null">
        #{bloodPressureHigh,jdbcType=NUMERIC},
      </if>
      <if test="sbp != null">
        #{sbp,jdbcType=NUMERIC},
      </if>
      <if test="dbp != null">
        #{dbp,jdbcType=NUMERIC},
      </if>
      <if test="medicalRecord != null">
        #{medicalRecord,jdbcType=VARCHAR},
      </if>
      <if test="operationRecord != null">
        #{operationRecord,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null">
        #{ordinal,jdbcType=VARCHAR},
      </if>
      <if test="heartRate != null">
        #{heartRate,jdbcType=NUMERIC},
      </if>
      <if test="redosage != null">
        #{redosage,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xa.eyre.outpdoct.domain.OutpMr">
    update OUTP_MR
    <set>
      <if test="patientId != null">
        PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="illnessDesc != null">
        ILLNESS_DESC = #{illnessDesc,jdbcType=VARCHAR},
      </if>
      <if test="anamnesis != null">
        ANAMNESIS = #{anamnesis,jdbcType=VARCHAR},
      </if>
      <if test="familyIll != null">
        FAMILY_ILL = #{familyIll,jdbcType=VARCHAR},
      </if>
      <if test="marrital != null">
        MARRITAL = #{marrital,jdbcType=VARCHAR},
      </if>
      <if test="individual != null">
        INDIVIDUAL = #{individual,jdbcType=VARCHAR},
      </if>
      <if test="menses != null">
        MENSES = #{menses,jdbcType=VARCHAR},
      </if>
      <if test="medHistory != null">
        MED_HISTORY = #{medHistory,jdbcType=VARCHAR},
      </if>
      <if test="bodyExam != null">
        BODY_EXAM = #{bodyExam,jdbcType=VARCHAR},
      </if>
      <if test="diagDesc != null">
        DIAG_DESC = #{diagDesc,jdbcType=VARCHAR},
      </if>
      <if test="advice != null">
        ADVICE = #{advice,jdbcType=VARCHAR},
      </if>
      <if test="doctor != null">
        DOCTOR = #{doctor,jdbcType=VARCHAR},
      </if>
      <if test="visitId != null">
        VISIT_ID = #{visitId,jdbcType=NUMERIC},
      </if>
      <if test="mrNo != null">
        MR_NO = #{mrNo,jdbcType=NUMERIC},
      </if>
      <if test="diagCode != null">
        DIAG_CODE = #{diagCode,jdbcType=VARCHAR},
      </if>
      <if test="bloodPressureMark != null">
        BLOOD_PRESSURE_MARK = #{bloodPressureMark,jdbcType=NUMERIC},
      </if>
      <if test="bloodPressureLow != null">
        BLOOD_PRESSURE_LOW = #{bloodPressureLow,jdbcType=NUMERIC},
      </if>
      <if test="bloodPressureHigh != null">
        BLOOD_PRESSURE_HIGH = #{bloodPressureHigh,jdbcType=NUMERIC},
      </if>
      <if test="sbp != null">
        SBP = #{sbp,jdbcType=NUMERIC},
      </if>
      <if test="dbp != null">
        DBP = #{dbp,jdbcType=NUMERIC},
      </if>
      <if test="medicalRecord != null">
        MEDICAL_RECORD = #{medicalRecord,jdbcType=VARCHAR},
      </if>
      <if test="operationRecord != null">
        OPERATION_RECORD = #{operationRecord,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null">
        ORDINAL = #{ordinal,jdbcType=VARCHAR},
      </if>
      <if test="heartRate != null">
        HEART_RATE = #{heartRate,jdbcType=NUMERIC},
      </if>
      <if test="redosage != null">
        REDOSAGE = #{redosage,jdbcType=NUMERIC},
      </if>
    </set>
    where VISIT_DATE = #{visitDate,jdbcType=TIMESTAMP}
      and VISIT_NO = #{visitNo,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xa.eyre.outpdoct.domain.OutpMr">
    update OUTP_MR
    set PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      ILLNESS_DESC = #{illnessDesc,jdbcType=VARCHAR},
      ANAMNESIS = #{anamnesis,jdbcType=VARCHAR},
      FAMILY_ILL = #{familyIll,jdbcType=VARCHAR},
      MARRITAL = #{marrital,jdbcType=VARCHAR},
      INDIVIDUAL = #{individual,jdbcType=VARCHAR},
      MENSES = #{menses,jdbcType=VARCHAR},
      MED_HISTORY = #{medHistory,jdbcType=VARCHAR},
      BODY_EXAM = #{bodyExam,jdbcType=VARCHAR},
      DIAG_DESC = #{diagDesc,jdbcType=VARCHAR},
      ADVICE = #{advice,jdbcType=VARCHAR},
      DOCTOR = #{doctor,jdbcType=VARCHAR},
      VISIT_ID = #{visitId,jdbcType=NUMERIC},
      MR_NO = #{mrNo,jdbcType=NUMERIC},
      DIAG_CODE = #{diagCode,jdbcType=VARCHAR},
      BLOOD_PRESSURE_MARK = #{bloodPressureMark,jdbcType=NUMERIC},
      BLOOD_PRESSURE_LOW = #{bloodPressureLow,jdbcType=NUMERIC},
      BLOOD_PRESSURE_HIGH = #{bloodPressureHigh,jdbcType=NUMERIC},
      SBP = #{sbp,jdbcType=NUMERIC},
      DBP = #{dbp,jdbcType=NUMERIC},
      MEDICAL_RECORD = #{medicalRecord,jdbcType=VARCHAR},
      OPERATION_RECORD = #{operationRecord,jdbcType=VARCHAR},
      ORDINAL = #{ordinal,jdbcType=VARCHAR},
      HEART_RATE = #{heartRate,jdbcType=NUMERIC},
      REDOSAGE = #{redosage,jdbcType=NUMERIC}
    where VISIT_DATE = #{visitDate,jdbcType=TIMESTAMP}
      and VISIT_NO = #{visitNo,jdbcType=NUMERIC}
  </update>
</mapper>