<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa.eyre.outpdoct.mapper.OutpTreatRecMapper">
  <resultMap id="BaseResultMap" type="cn.xa.eyre.outpdoct.domain.OutpTreatRec">
    <id column="SERIAL_NO" jdbcType="VARCHAR" property="serialNo" />
    <id column="ITEM_NO" jdbcType="NUMERIC" property="itemNo" />
    <result column="VISIT_DATE" jdbcType="TIMESTAMP" property="visitDate" />
    <result column="VISIT_NO" jdbcType="NUMERIC" property="visitNo" />
    <result column="ITEM_CLASS" jdbcType="VARCHAR" property="itemClass" />
    <result column="ITEM_CODE" jdbcType="VARCHAR" property="itemCode" />
    <result column="ITEM_NAME" jdbcType="VARCHAR" property="itemName" />
    <result column="ITEM_SPEC" jdbcType="VARCHAR" property="itemSpec" />
    <result column="UNITS" jdbcType="VARCHAR" property="units" />
    <result column="AMOUNT" jdbcType="NUMERIC" property="amount" />
    <result column="FREQUENCY" jdbcType="VARCHAR" property="frequency" />
    <result column="PERFORMED_BY" jdbcType="VARCHAR" property="performedBy" />
    <result column="COSTS" jdbcType="NUMERIC" property="costs" />
    <result column="CHARGES" jdbcType="NUMERIC" property="charges" />
    <result column="CHARGE_INDICATOR" jdbcType="NUMERIC" property="chargeIndicator" />
    <result column="APPOINT_NO" jdbcType="VARCHAR" property="appointNo" />
    <result column="APPOINT_ITEM_NO" jdbcType="NUMERIC" property="appointItemNo" />
    <result column="RECIPETYPE" jdbcType="NUMERIC" property="recipetype" />
    <result column="COSTS_PRICE" jdbcType="NUMERIC" property="costsPrice" />
    <result column="COSTS_REAL" jdbcType="NUMERIC" property="costsReal" />
    <result column="MENO" jdbcType="VARCHAR" property="meno" />
    <result column="TREAT_METHOD" jdbcType="VARCHAR" property="treatMethod" />
    <result column="GETDRUG_FLAG" jdbcType="VARCHAR" property="getdrugFlag" />
    <result column="FREQ_DETAIL" jdbcType="VARCHAR" property="freqDetail" />
    <result column="PERFORMED_LOCATION" jdbcType="VARCHAR" property="performedLocation" />
  </resultMap>
  <sql id="Base_Column_List">
    SERIAL_NO, ITEM_NO, VISIT_DATE, VISIT_NO, ITEM_CLASS, ITEM_CODE, ITEM_NAME, ITEM_SPEC, 
    UNITS, AMOUNT, FREQUENCY, PERFORMED_BY, COSTS, CHARGES, CHARGE_INDICATOR, APPOINT_NO, 
    APPOINT_ITEM_NO, RECIPETYPE, COSTS_PRICE, COSTS_REAL, MENO, TREAT_METHOD, GETDRUG_FLAG, 
    FREQ_DETAIL, PERFORMED_LOCATION
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.xa.eyre.outpdoct.domain.OutpTreatRecKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OUTP_TREAT_REC
    where SERIAL_NO = #{serialNo,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=NUMERIC}
  </select>
    <select id="selectOutpTreatRec" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from OUTP_TREAT_REC
      where APPOINT_NO = #{appointNo,jdbcType=VARCHAR}
      ORDER BY VISIT_DATE DESC
    </select>
    <delete id="deleteByPrimaryKey" parameterType="cn.xa.eyre.outpdoct.domain.OutpTreatRecKey">
    delete from OUTP_TREAT_REC
    where SERIAL_NO = #{serialNo,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="cn.xa.eyre.outpdoct.domain.OutpTreatRec">
    insert into OUTP_TREAT_REC (SERIAL_NO, ITEM_NO, VISIT_DATE, 
      VISIT_NO, ITEM_CLASS, ITEM_CODE, 
      ITEM_NAME, ITEM_SPEC, UNITS, 
      AMOUNT, FREQUENCY, PERFORMED_BY, 
      COSTS, CHARGES, CHARGE_INDICATOR, 
      APPOINT_NO, APPOINT_ITEM_NO, RECIPETYPE, 
      COSTS_PRICE, COSTS_REAL, MENO, 
      TREAT_METHOD, GETDRUG_FLAG, FREQ_DETAIL, 
      PERFORMED_LOCATION)
    values (#{serialNo,jdbcType=VARCHAR}, #{itemNo,jdbcType=NUMERIC}, #{visitDate,jdbcType=TIMESTAMP}, 
      #{visitNo,jdbcType=NUMERIC}, #{itemClass,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, 
      #{itemName,jdbcType=VARCHAR}, #{itemSpec,jdbcType=VARCHAR}, #{units,jdbcType=VARCHAR}, 
      #{amount,jdbcType=NUMERIC}, #{frequency,jdbcType=VARCHAR}, #{performedBy,jdbcType=VARCHAR}, 
      #{costs,jdbcType=NUMERIC}, #{charges,jdbcType=NUMERIC}, #{chargeIndicator,jdbcType=NUMERIC}, 
      #{appointNo,jdbcType=VARCHAR}, #{appointItemNo,jdbcType=NUMERIC}, #{recipetype,jdbcType=NUMERIC}, 
      #{costsPrice,jdbcType=NUMERIC}, #{costsReal,jdbcType=NUMERIC}, #{meno,jdbcType=VARCHAR}, 
      #{treatMethod,jdbcType=VARCHAR}, #{getdrugFlag,jdbcType=VARCHAR}, #{freqDetail,jdbcType=VARCHAR}, 
      #{performedLocation,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xa.eyre.outpdoct.domain.OutpTreatRec">
    insert into OUTP_TREAT_REC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serialNo != null">
        SERIAL_NO,
      </if>
      <if test="itemNo != null">
        ITEM_NO,
      </if>
      <if test="visitDate != null">
        VISIT_DATE,
      </if>
      <if test="visitNo != null">
        VISIT_NO,
      </if>
      <if test="itemClass != null">
        ITEM_CLASS,
      </if>
      <if test="itemCode != null">
        ITEM_CODE,
      </if>
      <if test="itemName != null">
        ITEM_NAME,
      </if>
      <if test="itemSpec != null">
        ITEM_SPEC,
      </if>
      <if test="units != null">
        UNITS,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="frequency != null">
        FREQUENCY,
      </if>
      <if test="performedBy != null">
        PERFORMED_BY,
      </if>
      <if test="costs != null">
        COSTS,
      </if>
      <if test="charges != null">
        CHARGES,
      </if>
      <if test="chargeIndicator != null">
        CHARGE_INDICATOR,
      </if>
      <if test="appointNo != null">
        APPOINT_NO,
      </if>
      <if test="appointItemNo != null">
        APPOINT_ITEM_NO,
      </if>
      <if test="recipetype != null">
        RECIPETYPE,
      </if>
      <if test="costsPrice != null">
        COSTS_PRICE,
      </if>
      <if test="costsReal != null">
        COSTS_REAL,
      </if>
      <if test="meno != null">
        MENO,
      </if>
      <if test="treatMethod != null">
        TREAT_METHOD,
      </if>
      <if test="getdrugFlag != null">
        GETDRUG_FLAG,
      </if>
      <if test="freqDetail != null">
        FREQ_DETAIL,
      </if>
      <if test="performedLocation != null">
        PERFORMED_LOCATION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serialNo != null">
        #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="itemNo != null">
        #{itemNo,jdbcType=NUMERIC},
      </if>
      <if test="visitDate != null">
        #{visitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="visitNo != null">
        #{visitNo,jdbcType=NUMERIC},
      </if>
      <if test="itemClass != null">
        #{itemClass,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemSpec != null">
        #{itemSpec,jdbcType=VARCHAR},
      </if>
      <if test="units != null">
        #{units,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=NUMERIC},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="performedBy != null">
        #{performedBy,jdbcType=VARCHAR},
      </if>
      <if test="costs != null">
        #{costs,jdbcType=NUMERIC},
      </if>
      <if test="charges != null">
        #{charges,jdbcType=NUMERIC},
      </if>
      <if test="chargeIndicator != null">
        #{chargeIndicator,jdbcType=NUMERIC},
      </if>
      <if test="appointNo != null">
        #{appointNo,jdbcType=VARCHAR},
      </if>
      <if test="appointItemNo != null">
        #{appointItemNo,jdbcType=NUMERIC},
      </if>
      <if test="recipetype != null">
        #{recipetype,jdbcType=NUMERIC},
      </if>
      <if test="costsPrice != null">
        #{costsPrice,jdbcType=NUMERIC},
      </if>
      <if test="costsReal != null">
        #{costsReal,jdbcType=NUMERIC},
      </if>
      <if test="meno != null">
        #{meno,jdbcType=VARCHAR},
      </if>
      <if test="treatMethod != null">
        #{treatMethod,jdbcType=VARCHAR},
      </if>
      <if test="getdrugFlag != null">
        #{getdrugFlag,jdbcType=VARCHAR},
      </if>
      <if test="freqDetail != null">
        #{freqDetail,jdbcType=VARCHAR},
      </if>
      <if test="performedLocation != null">
        #{performedLocation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xa.eyre.outpdoct.domain.OutpTreatRec">
    update OUTP_TREAT_REC
    <set>
      <if test="visitDate != null">
        VISIT_DATE = #{visitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="visitNo != null">
        VISIT_NO = #{visitNo,jdbcType=NUMERIC},
      </if>
      <if test="itemClass != null">
        ITEM_CLASS = #{itemClass,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        ITEM_CODE = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemSpec != null">
        ITEM_SPEC = #{itemSpec,jdbcType=VARCHAR},
      </if>
      <if test="units != null">
        UNITS = #{units,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=NUMERIC},
      </if>
      <if test="frequency != null">
        FREQUENCY = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="performedBy != null">
        PERFORMED_BY = #{performedBy,jdbcType=VARCHAR},
      </if>
      <if test="costs != null">
        COSTS = #{costs,jdbcType=NUMERIC},
      </if>
      <if test="charges != null">
        CHARGES = #{charges,jdbcType=NUMERIC},
      </if>
      <if test="chargeIndicator != null">
        CHARGE_INDICATOR = #{chargeIndicator,jdbcType=NUMERIC},
      </if>
      <if test="appointNo != null">
        APPOINT_NO = #{appointNo,jdbcType=VARCHAR},
      </if>
      <if test="appointItemNo != null">
        APPOINT_ITEM_NO = #{appointItemNo,jdbcType=NUMERIC},
      </if>
      <if test="recipetype != null">
        RECIPETYPE = #{recipetype,jdbcType=NUMERIC},
      </if>
      <if test="costsPrice != null">
        COSTS_PRICE = #{costsPrice,jdbcType=NUMERIC},
      </if>
      <if test="costsReal != null">
        COSTS_REAL = #{costsReal,jdbcType=NUMERIC},
      </if>
      <if test="meno != null">
        MENO = #{meno,jdbcType=VARCHAR},
      </if>
      <if test="treatMethod != null">
        TREAT_METHOD = #{treatMethod,jdbcType=VARCHAR},
      </if>
      <if test="getdrugFlag != null">
        GETDRUG_FLAG = #{getdrugFlag,jdbcType=VARCHAR},
      </if>
      <if test="freqDetail != null">
        FREQ_DETAIL = #{freqDetail,jdbcType=VARCHAR},
      </if>
      <if test="performedLocation != null">
        PERFORMED_LOCATION = #{performedLocation,jdbcType=VARCHAR},
      </if>
    </set>
    where SERIAL_NO = #{serialNo,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xa.eyre.outpdoct.domain.OutpTreatRec">
    update OUTP_TREAT_REC
    set VISIT_DATE = #{visitDate,jdbcType=TIMESTAMP},
      VISIT_NO = #{visitNo,jdbcType=NUMERIC},
      ITEM_CLASS = #{itemClass,jdbcType=VARCHAR},
      ITEM_CODE = #{itemCode,jdbcType=VARCHAR},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      ITEM_SPEC = #{itemSpec,jdbcType=VARCHAR},
      UNITS = #{units,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=NUMERIC},
      FREQUENCY = #{frequency,jdbcType=VARCHAR},
      PERFORMED_BY = #{performedBy,jdbcType=VARCHAR},
      COSTS = #{costs,jdbcType=NUMERIC},
      CHARGES = #{charges,jdbcType=NUMERIC},
      CHARGE_INDICATOR = #{chargeIndicator,jdbcType=NUMERIC},
      APPOINT_NO = #{appointNo,jdbcType=VARCHAR},
      APPOINT_ITEM_NO = #{appointItemNo,jdbcType=NUMERIC},
      RECIPETYPE = #{recipetype,jdbcType=NUMERIC},
      COSTS_PRICE = #{costsPrice,jdbcType=NUMERIC},
      COSTS_REAL = #{costsReal,jdbcType=NUMERIC},
      MENO = #{meno,jdbcType=VARCHAR},
      TREAT_METHOD = #{treatMethod,jdbcType=VARCHAR},
      GETDRUG_FLAG = #{getdrugFlag,jdbcType=VARCHAR},
      FREQ_DETAIL = #{freqDetail,jdbcType=VARCHAR},
      PERFORMED_LOCATION = #{performedLocation,jdbcType=VARCHAR}
    where SERIAL_NO = #{serialNo,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=NUMERIC}
  </update>
</mapper>