<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa.eyre.comm.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="cn.xa.eyre.comm.domain.Users">
    <id column="DB_USER" jdbcType="VARCHAR" property="dbUser" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_DEPT" jdbcType="VARCHAR" property="userDept" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="SYS_FLAG" jdbcType="NUMERIC" property="sysFlag" />
    <result column="WORKING_STATUS" jdbcType="VARCHAR" property="workingStatus" />
    <result column="LEAVE_DATE" jdbcType="TIMESTAMP" property="leaveDate" />
  </resultMap>
  <sql id="Base_Column_List">
    DB_USER, USER_ID, USER_NAME, USER_DEPT, CREATE_DATE, SYS_FLAG, WORKING_STATUS, LEAVE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from USERS
    where DB_USER = #{dbUser,jdbcType=VARCHAR}
  </select>
    <select id="selectUserByName" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from COMM.USERS u
      where u.USER_NAME = #{userName,jdbcType=VARCHAR}
      and (u.WORKING_STATUS != '离职' or u.WORKING_STATUS is null)
      order by u.CREATE_DATE desc
    </select>
    <select id="selectUserList" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from (select
      <include refid="Base_Column_List" />
      from COMM.USERS
      ORDER BY CREATE_DATE DESC)
      WHERE ROWNUM <![CDATA[ <= ]]> #{num,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from USERS
    where DB_USER = #{dbUser,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xa.eyre.comm.domain.Users">
    insert into USERS (DB_USER, USER_ID, USER_NAME, 
      USER_DEPT, CREATE_DATE, SYS_FLAG, 
      WORKING_STATUS, LEAVE_DATE)
    values (#{dbUser,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userDept,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{sysFlag,jdbcType=NUMERIC}, 
      #{workingStatus,jdbcType=VARCHAR}, #{leaveDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.xa.eyre.comm.domain.Users">
    insert into USERS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbUser != null">
        DB_USER,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userDept != null">
        USER_DEPT,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="sysFlag != null">
        SYS_FLAG,
      </if>
      <if test="workingStatus != null">
        WORKING_STATUS,
      </if>
      <if test="leaveDate != null">
        LEAVE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dbUser != null">
        #{dbUser,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userDept != null">
        #{userDept,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sysFlag != null">
        #{sysFlag,jdbcType=NUMERIC},
      </if>
      <if test="workingStatus != null">
        #{workingStatus,jdbcType=VARCHAR},
      </if>
      <if test="leaveDate != null">
        #{leaveDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xa.eyre.comm.domain.Users">
    update USERS
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userDept != null">
        USER_DEPT = #{userDept,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sysFlag != null">
        SYS_FLAG = #{sysFlag,jdbcType=NUMERIC},
      </if>
      <if test="workingStatus != null">
        WORKING_STATUS = #{workingStatus,jdbcType=VARCHAR},
      </if>
      <if test="leaveDate != null">
        LEAVE_DATE = #{leaveDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DB_USER = #{dbUser,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xa.eyre.comm.domain.Users">
    update USERS
    set USER_ID = #{userId,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_DEPT = #{userDept,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      SYS_FLAG = #{sysFlag,jdbcType=NUMERIC},
      WORKING_STATUS = #{workingStatus,jdbcType=VARCHAR},
      LEAVE_DATE = #{leaveDate,jdbcType=TIMESTAMP}
    where DB_USER = #{dbUser,jdbcType=VARCHAR}
  </update>
</mapper>