<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa.eyre.ordadm.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="cn.xa.eyre.ordadm.domain.Orders">
    <result column="PATIENT_ID" jdbcType="VARCHAR" property="patientId" />
    <result column="VISIT_ID" jdbcType="NUMERIC" property="visitId" />
    <result column="ORDER_NO" jdbcType="NUMERIC" property="orderNo" />
    <result column="ORDER_SUB_NO" jdbcType="NUMERIC" property="orderSubNo" />
    <result column="REPEAT_INDICATOR" jdbcType="NUMERIC" property="repeatIndicator" />
    <result column="ORDER_CLASS" jdbcType="VARCHAR" property="orderClass" />
    <result column="ORDER_TEXT" jdbcType="VARCHAR" property="orderText" />
    <result column="ORDER_CODE" jdbcType="VARCHAR" property="orderCode" />
    <result column="DOSAGE" jdbcType="NUMERIC" property="dosage" />
    <result column="DOSAGE_UNITS" jdbcType="VARCHAR" property="dosageUnits" />
    <result column="ADMINISTRATION" jdbcType="VARCHAR" property="administration" />
    <result column="DURATION" jdbcType="NUMERIC" property="duration" />
    <result column="DURATION_UNITS" jdbcType="VARCHAR" property="durationUnits" />
    <result column="START_DATE_TIME" jdbcType="TIMESTAMP" property="startDateTime" />
    <result column="STOP_DATE_TIME" jdbcType="TIMESTAMP" property="stopDateTime" />
    <result column="FREQUENCY" jdbcType="VARCHAR" property="frequency" />
    <result column="FREQ_COUNTER" jdbcType="NUMERIC" property="freqCounter" />
    <result column="FREQ_INTERVAL" jdbcType="NUMERIC" property="freqInterval" />
    <result column="FREQ_INTERVAL_UNIT" jdbcType="VARCHAR" property="freqIntervalUnit" />
    <result column="FREQ_DETAIL" jdbcType="VARCHAR" property="freqDetail" />
    <result column="PERFORM_SCHEDULE" jdbcType="VARCHAR" property="performSchedule" />
    <result column="PERFORM_RESULT" jdbcType="VARCHAR" property="performResult" />
    <result column="ORDERING_DEPT" jdbcType="VARCHAR" property="orderingDept" />
    <result column="DOCTOR" jdbcType="VARCHAR" property="doctor" />
    <result column="STOP_DOCTOR" jdbcType="VARCHAR" property="stopDoctor" />
    <result column="NURSE" jdbcType="VARCHAR" property="nurse" />
    <result column="ENTER_DATE_TIME" jdbcType="TIMESTAMP" property="enterDateTime" />
    <result column="ORDER_STATUS" jdbcType="VARCHAR" property="orderStatus" />
    <result column="BILLING_ATTR" jdbcType="NUMERIC" property="billingAttr" />
    <result column="LAST_PERFORM_DATE_TIME" jdbcType="TIMESTAMP" property="lastPerformDateTime" />
    <result column="LAST_ACCTING_DATE_TIME" jdbcType="TIMESTAMP" property="lastAcctingDateTime" />
    <result column="DRUG_BILLING_ATTR" jdbcType="NUMERIC" property="drugBillingAttr" />
    <result column="STOP_NURSE" jdbcType="VARCHAR" property="stopNurse" />
    <result column="STOP_ORDER_DATE_TIME" jdbcType="TIMESTAMP" property="stopOrderDateTime" />
    <result column="CURRENT_PRESC_NO" jdbcType="NUMERIC" property="currentPrescNo" />
    <result column="DOCTOR_USER" jdbcType="VARCHAR" property="doctorUser" />
    <result column="VERIFY_DATA_TIME" jdbcType="TIMESTAMP" property="verifyDataTime" />
    <result column="ORDER_PRINT_INDICATOR" jdbcType="NUMERIC" property="orderPrintIndicator" />
    <result column="PROCESSING_DATE_TIME" jdbcType="TIMESTAMP" property="processingDateTime" />
    <result column="PROCESSING_NURSE" jdbcType="VARCHAR" property="processingNurse" />
    <result column="STOP_PROCESSING_NURSE" jdbcType="VARCHAR" property="stopProcessingNurse" />
    <result column="STOP_PROCESSING_DATE_TIME" jdbcType="TIMESTAMP" property="stopProcessingDateTime" />
    <result column="CANCEL_DATE_TIME" jdbcType="TIMESTAMP" property="cancelDateTime" />
    <result column="CANCEL_DOCTOR" jdbcType="VARCHAR" property="cancelDoctor" />
    <result column="DEGREE" jdbcType="NUMERIC" property="degree" />
    <result column="APP_NO" jdbcType="VARCHAR" property="appNo" />
    <result column="IS_ADJUST" jdbcType="NUMERIC" property="isAdjust" />
    <result column="CONVERSION_DATE_TIME" jdbcType="TIMESTAMP" property="conversionDateTime" />
    <result column="CONTINUE_ORDER_NO" jdbcType="VARCHAR" property="continueOrderNo" />
    <result column="STOP_FLAG" jdbcType="VARCHAR" property="stopFlag" />
    <result column="ADAPT_SYMPTOM_INDICATE" jdbcType="NUMERIC" property="adaptSymptomIndicate" />
    <result column="PRINT_FLAG" jdbcType="VARCHAR" property="printFlag" />
    <result column="PRINT_FLAG1" jdbcType="VARCHAR" property="printFlag1" />
    <result column="PRINT_FLAG3" jdbcType="VARCHAR" property="printFlag3" />
    <result column="RELATIVE_NO" jdbcType="VARCHAR" property="relativeNo" />
    <result column="ORDER_TYPE_NAME" jdbcType="VARCHAR" property="orderTypeName" />
    <result column="ORDER_PERFORM_STATUS" jdbcType="VARCHAR" property="orderPerformStatus" />
    <result column="QUERY_ORDER_NO" jdbcType="NUMERIC" property="queryOrderNo" />
    <result column="QUERY_ORDER_SUB_NO" jdbcType="NUMERIC" property="queryOrderSubNo" />
    <result column="EXE_NURSE" jdbcType="VARCHAR" property="exeNurse" />
  </resultMap>
  <insert id="insert" parameterType="cn.xa.eyre.ordadm.domain.Orders">
    insert into ORDERS (PATIENT_ID, VISIT_ID, ORDER_NO, 
      ORDER_SUB_NO, REPEAT_INDICATOR, ORDER_CLASS, 
      ORDER_TEXT, ORDER_CODE, DOSAGE, 
      DOSAGE_UNITS, ADMINISTRATION, DURATION, 
      DURATION_UNITS, START_DATE_TIME, STOP_DATE_TIME, 
      FREQUENCY, FREQ_COUNTER, FREQ_INTERVAL, 
      FREQ_INTERVAL_UNIT, FREQ_DETAIL, PERFORM_SCHEDULE, 
      PERFORM_RESULT, ORDERING_DEPT, DOCTOR, 
      STOP_DOCTOR, NURSE, ENTER_DATE_TIME, 
      ORDER_STATUS, BILLING_ATTR, LAST_PERFORM_DATE_TIME, 
      LAST_ACCTING_DATE_TIME, DRUG_BILLING_ATTR, 
      STOP_NURSE, STOP_ORDER_DATE_TIME, CURRENT_PRESC_NO, 
      DOCTOR_USER, VERIFY_DATA_TIME, ORDER_PRINT_INDICATOR, 
      PROCESSING_DATE_TIME, PROCESSING_NURSE, 
      STOP_PROCESSING_NURSE, STOP_PROCESSING_DATE_TIME, 
      CANCEL_DATE_TIME, CANCEL_DOCTOR, DEGREE, 
      APP_NO, IS_ADJUST, CONVERSION_DATE_TIME, 
      CONTINUE_ORDER_NO, STOP_FLAG, ADAPT_SYMPTOM_INDICATE, 
      PRINT_FLAG, PRINT_FLAG1, PRINT_FLAG3, 
      RELATIVE_NO, ORDER_TYPE_NAME, ORDER_PERFORM_STATUS, 
      QUERY_ORDER_NO, QUERY_ORDER_SUB_NO, EXE_NURSE
      )
    values (#{patientId,jdbcType=VARCHAR}, #{visitId,jdbcType=NUMERIC}, #{orderNo,jdbcType=NUMERIC}, 
      #{orderSubNo,jdbcType=NUMERIC}, #{repeatIndicator,jdbcType=NUMERIC}, #{orderClass,jdbcType=VARCHAR}, 
      #{orderText,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR}, #{dosage,jdbcType=NUMERIC}, 
      #{dosageUnits,jdbcType=VARCHAR}, #{administration,jdbcType=VARCHAR}, #{duration,jdbcType=NUMERIC}, 
      #{durationUnits,jdbcType=VARCHAR}, #{startDateTime,jdbcType=TIMESTAMP}, #{stopDateTime,jdbcType=TIMESTAMP}, 
      #{frequency,jdbcType=VARCHAR}, #{freqCounter,jdbcType=NUMERIC}, #{freqInterval,jdbcType=NUMERIC}, 
      #{freqIntervalUnit,jdbcType=VARCHAR}, #{freqDetail,jdbcType=VARCHAR}, #{performSchedule,jdbcType=VARCHAR}, 
      #{performResult,jdbcType=VARCHAR}, #{orderingDept,jdbcType=VARCHAR}, #{doctor,jdbcType=VARCHAR}, 
      #{stopDoctor,jdbcType=VARCHAR}, #{nurse,jdbcType=VARCHAR}, #{enterDateTime,jdbcType=TIMESTAMP}, 
      #{orderStatus,jdbcType=VARCHAR}, #{billingAttr,jdbcType=NUMERIC}, #{lastPerformDateTime,jdbcType=TIMESTAMP}, 
      #{lastAcctingDateTime,jdbcType=TIMESTAMP}, #{drugBillingAttr,jdbcType=NUMERIC}, 
      #{stopNurse,jdbcType=VARCHAR}, #{stopOrderDateTime,jdbcType=TIMESTAMP}, #{currentPrescNo,jdbcType=NUMERIC}, 
      #{doctorUser,jdbcType=VARCHAR}, #{verifyDataTime,jdbcType=TIMESTAMP}, #{orderPrintIndicator,jdbcType=NUMERIC}, 
      #{processingDateTime,jdbcType=TIMESTAMP}, #{processingNurse,jdbcType=VARCHAR}, 
      #{stopProcessingNurse,jdbcType=VARCHAR}, #{stopProcessingDateTime,jdbcType=TIMESTAMP}, 
      #{cancelDateTime,jdbcType=TIMESTAMP}, #{cancelDoctor,jdbcType=VARCHAR}, #{degree,jdbcType=NUMERIC}, 
      #{appNo,jdbcType=VARCHAR}, #{isAdjust,jdbcType=NUMERIC}, #{conversionDateTime,jdbcType=TIMESTAMP}, 
      #{continueOrderNo,jdbcType=VARCHAR}, #{stopFlag,jdbcType=VARCHAR}, #{adaptSymptomIndicate,jdbcType=NUMERIC}, 
      #{printFlag,jdbcType=VARCHAR}, #{printFlag1,jdbcType=VARCHAR}, #{printFlag3,jdbcType=VARCHAR}, 
      #{relativeNo,jdbcType=VARCHAR}, #{orderTypeName,jdbcType=VARCHAR}, #{orderPerformStatus,jdbcType=VARCHAR}, 
      #{queryOrderNo,jdbcType=NUMERIC}, #{queryOrderSubNo,jdbcType=NUMERIC}, #{exeNurse,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.xa.eyre.ordadm.domain.Orders">
    insert into ORDERS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        PATIENT_ID,
      </if>
      <if test="visitId != null">
        VISIT_ID,
      </if>
      <if test="orderNo != null">
        ORDER_NO,
      </if>
      <if test="orderSubNo != null">
        ORDER_SUB_NO,
      </if>
      <if test="repeatIndicator != null">
        REPEAT_INDICATOR,
      </if>
      <if test="orderClass != null">
        ORDER_CLASS,
      </if>
      <if test="orderText != null">
        ORDER_TEXT,
      </if>
      <if test="orderCode != null">
        ORDER_CODE,
      </if>
      <if test="dosage != null">
        DOSAGE,
      </if>
      <if test="dosageUnits != null">
        DOSAGE_UNITS,
      </if>
      <if test="administration != null">
        ADMINISTRATION,
      </if>
      <if test="duration != null">
        DURATION,
      </if>
      <if test="durationUnits != null">
        DURATION_UNITS,
      </if>
      <if test="startDateTime != null">
        START_DATE_TIME,
      </if>
      <if test="stopDateTime != null">
        STOP_DATE_TIME,
      </if>
      <if test="frequency != null">
        FREQUENCY,
      </if>
      <if test="freqCounter != null">
        FREQ_COUNTER,
      </if>
      <if test="freqInterval != null">
        FREQ_INTERVAL,
      </if>
      <if test="freqIntervalUnit != null">
        FREQ_INTERVAL_UNIT,
      </if>
      <if test="freqDetail != null">
        FREQ_DETAIL,
      </if>
      <if test="performSchedule != null">
        PERFORM_SCHEDULE,
      </if>
      <if test="performResult != null">
        PERFORM_RESULT,
      </if>
      <if test="orderingDept != null">
        ORDERING_DEPT,
      </if>
      <if test="doctor != null">
        DOCTOR,
      </if>
      <if test="stopDoctor != null">
        STOP_DOCTOR,
      </if>
      <if test="nurse != null">
        NURSE,
      </if>
      <if test="enterDateTime != null">
        ENTER_DATE_TIME,
      </if>
      <if test="orderStatus != null">
        ORDER_STATUS,
      </if>
      <if test="billingAttr != null">
        BILLING_ATTR,
      </if>
      <if test="lastPerformDateTime != null">
        LAST_PERFORM_DATE_TIME,
      </if>
      <if test="lastAcctingDateTime != null">
        LAST_ACCTING_DATE_TIME,
      </if>
      <if test="drugBillingAttr != null">
        DRUG_BILLING_ATTR,
      </if>
      <if test="stopNurse != null">
        STOP_NURSE,
      </if>
      <if test="stopOrderDateTime != null">
        STOP_ORDER_DATE_TIME,
      </if>
      <if test="currentPrescNo != null">
        CURRENT_PRESC_NO,
      </if>
      <if test="doctorUser != null">
        DOCTOR_USER,
      </if>
      <if test="verifyDataTime != null">
        VERIFY_DATA_TIME,
      </if>
      <if test="orderPrintIndicator != null">
        ORDER_PRINT_INDICATOR,
      </if>
      <if test="processingDateTime != null">
        PROCESSING_DATE_TIME,
      </if>
      <if test="processingNurse != null">
        PROCESSING_NURSE,
      </if>
      <if test="stopProcessingNurse != null">
        STOP_PROCESSING_NURSE,
      </if>
      <if test="stopProcessingDateTime != null">
        STOP_PROCESSING_DATE_TIME,
      </if>
      <if test="cancelDateTime != null">
        CANCEL_DATE_TIME,
      </if>
      <if test="cancelDoctor != null">
        CANCEL_DOCTOR,
      </if>
      <if test="degree != null">
        DEGREE,
      </if>
      <if test="appNo != null">
        APP_NO,
      </if>
      <if test="isAdjust != null">
        IS_ADJUST,
      </if>
      <if test="conversionDateTime != null">
        CONVERSION_DATE_TIME,
      </if>
      <if test="continueOrderNo != null">
        CONTINUE_ORDER_NO,
      </if>
      <if test="stopFlag != null">
        STOP_FLAG,
      </if>
      <if test="adaptSymptomIndicate != null">
        ADAPT_SYMPTOM_INDICATE,
      </if>
      <if test="printFlag != null">
        PRINT_FLAG,
      </if>
      <if test="printFlag1 != null">
        PRINT_FLAG1,
      </if>
      <if test="printFlag3 != null">
        PRINT_FLAG3,
      </if>
      <if test="relativeNo != null">
        RELATIVE_NO,
      </if>
      <if test="orderTypeName != null">
        ORDER_TYPE_NAME,
      </if>
      <if test="orderPerformStatus != null">
        ORDER_PERFORM_STATUS,
      </if>
      <if test="queryOrderNo != null">
        QUERY_ORDER_NO,
      </if>
      <if test="queryOrderSubNo != null">
        QUERY_ORDER_SUB_NO,
      </if>
      <if test="exeNurse != null">
        EXE_NURSE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="visitId != null">
        #{visitId,jdbcType=NUMERIC},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=NUMERIC},
      </if>
      <if test="orderSubNo != null">
        #{orderSubNo,jdbcType=NUMERIC},
      </if>
      <if test="repeatIndicator != null">
        #{repeatIndicator,jdbcType=NUMERIC},
      </if>
      <if test="orderClass != null">
        #{orderClass,jdbcType=VARCHAR},
      </if>
      <if test="orderText != null">
        #{orderText,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        #{dosage,jdbcType=NUMERIC},
      </if>
      <if test="dosageUnits != null">
        #{dosageUnits,jdbcType=VARCHAR},
      </if>
      <if test="administration != null">
        #{administration,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=NUMERIC},
      </if>
      <if test="durationUnits != null">
        #{durationUnits,jdbcType=VARCHAR},
      </if>
      <if test="startDateTime != null">
        #{startDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopDateTime != null">
        #{stopDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="freqCounter != null">
        #{freqCounter,jdbcType=NUMERIC},
      </if>
      <if test="freqInterval != null">
        #{freqInterval,jdbcType=NUMERIC},
      </if>
      <if test="freqIntervalUnit != null">
        #{freqIntervalUnit,jdbcType=VARCHAR},
      </if>
      <if test="freqDetail != null">
        #{freqDetail,jdbcType=VARCHAR},
      </if>
      <if test="performSchedule != null">
        #{performSchedule,jdbcType=VARCHAR},
      </if>
      <if test="performResult != null">
        #{performResult,jdbcType=VARCHAR},
      </if>
      <if test="orderingDept != null">
        #{orderingDept,jdbcType=VARCHAR},
      </if>
      <if test="doctor != null">
        #{doctor,jdbcType=VARCHAR},
      </if>
      <if test="stopDoctor != null">
        #{stopDoctor,jdbcType=VARCHAR},
      </if>
      <if test="nurse != null">
        #{nurse,jdbcType=VARCHAR},
      </if>
      <if test="enterDateTime != null">
        #{enterDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="billingAttr != null">
        #{billingAttr,jdbcType=NUMERIC},
      </if>
      <if test="lastPerformDateTime != null">
        #{lastPerformDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAcctingDateTime != null">
        #{lastAcctingDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="drugBillingAttr != null">
        #{drugBillingAttr,jdbcType=NUMERIC},
      </if>
      <if test="stopNurse != null">
        #{stopNurse,jdbcType=VARCHAR},
      </if>
      <if test="stopOrderDateTime != null">
        #{stopOrderDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="currentPrescNo != null">
        #{currentPrescNo,jdbcType=NUMERIC},
      </if>
      <if test="doctorUser != null">
        #{doctorUser,jdbcType=VARCHAR},
      </if>
      <if test="verifyDataTime != null">
        #{verifyDataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPrintIndicator != null">
        #{orderPrintIndicator,jdbcType=NUMERIC},
      </if>
      <if test="processingDateTime != null">
        #{processingDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="processingNurse != null">
        #{processingNurse,jdbcType=VARCHAR},
      </if>
      <if test="stopProcessingNurse != null">
        #{stopProcessingNurse,jdbcType=VARCHAR},
      </if>
      <if test="stopProcessingDateTime != null">
        #{stopProcessingDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelDateTime != null">
        #{cancelDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelDoctor != null">
        #{cancelDoctor,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        #{degree,jdbcType=NUMERIC},
      </if>
      <if test="appNo != null">
        #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="isAdjust != null">
        #{isAdjust,jdbcType=NUMERIC},
      </if>
      <if test="conversionDateTime != null">
        #{conversionDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="continueOrderNo != null">
        #{continueOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="stopFlag != null">
        #{stopFlag,jdbcType=VARCHAR},
      </if>
      <if test="adaptSymptomIndicate != null">
        #{adaptSymptomIndicate,jdbcType=NUMERIC},
      </if>
      <if test="printFlag != null">
        #{printFlag,jdbcType=VARCHAR},
      </if>
      <if test="printFlag1 != null">
        #{printFlag1,jdbcType=VARCHAR},
      </if>
      <if test="printFlag3 != null">
        #{printFlag3,jdbcType=VARCHAR},
      </if>
      <if test="relativeNo != null">
        #{relativeNo,jdbcType=VARCHAR},
      </if>
      <if test="orderTypeName != null">
        #{orderTypeName,jdbcType=VARCHAR},
      </if>
      <if test="orderPerformStatus != null">
        #{orderPerformStatus,jdbcType=VARCHAR},
      </if>
      <if test="queryOrderNo != null">
        #{queryOrderNo,jdbcType=NUMERIC},
      </if>
      <if test="queryOrderSubNo != null">
        #{queryOrderSubNo,jdbcType=NUMERIC},
      </if>
      <if test="exeNurse != null">
        #{exeNurse,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getICUAndAMVInfo" resultMap="BaseResultMap">
    <![CDATA[
      SELECT
        PATIENT_ID, VISIT_ID, ORDER_NO,
        ORDER_SUB_NO, REPEAT_INDICATOR, ORDER_CLASS,
        ORDER_TEXT, ORDER_CODE, DOSAGE,
        START_DATE_TIME, STOP_DATE_TIME,
        ORDERING_DEPT, DOCTOR,
        STOP_DOCTOR, NURSE, ENTER_DATE_TIME,
        ORDER_STATUS, BILLING_ATTR, LAST_PERFORM_DATE_TIME,
        LAST_ACCTING_DATE_TIME, DRUG_BILLING_ATTR,
        STOP_NURSE, STOP_ORDER_DATE_TIME
      FROM ORDADM.ORDERS t
      WHERE (order_text LIKE '重症监护%' OR order_text LIKE '%呼吸机%')
        AND start_date_time <= TRUNC(SYSDATE) + 1
        AND start_date_time > TRUNC(SYSDATE) - 30
        AND (stop_date_time >= TRUNC(SYSDATE) OR stop_date_time IS NULL)
    ]]>
  </select>
</mapper>