<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa.eyre.system.dict.mapper.DdDiseaseIcdMapper">
  <resultMap id="BaseResultMap" type="cn.xa.eyre.system.dict.domain.DdDiseaseIcd">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="disease_id" jdbcType="INTEGER" property="diseaseId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="spell" jdbcType="VARCHAR" property="spell" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="pre_code" jdbcType="INTEGER" property="preCode" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="is_lastest" jdbcType="INTEGER" property="isLastest" />
    <result column="dict_version" jdbcType="VARCHAR" property="dictVersion" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_id, type_code, disease_id, code, name, `describe`, spell, start_date, end_date,
    pre_code, status, sort, is_lastest, dict_version, create_date, create_user, update_date, 
    update_user, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dd_disease_icd
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from dd_disease_icd
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dd_disease_icd
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.xa.eyre.system.dict.domain.DdDiseaseIcd">
    insert into dd_disease_icd (id, type_id, type_code, 
      disease_id, code, name,
      `describe`, spell, start_date,
      end_date, pre_code, status,
      sort, is_lastest, dict_version, 
      create_date, create_user, update_date, 
      update_user, version)
    values (#{id,jdbcType=BIGINT}, #{typeId,jdbcType=INTEGER}, #{typeCode,jdbcType=VARCHAR}, 
      #{diseaseId,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR}, #{spell,jdbcType=VARCHAR}, #{startDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{preCode,jdbcType=INTEGER}, #{status,jdbcType=SMALLINT}, 
      #{sort,jdbcType=INTEGER}, #{isLastest,jdbcType=INTEGER}, #{dictVersion,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.xa.eyre.system.dict.domain.DdDiseaseIcd">
    insert into dd_disease_icd
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="diseaseId != null">
        disease_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="describe != null">
        `describe`,
      </if>
      <if test="spell != null">
        spell,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="preCode != null">
        pre_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="isLastest != null">
        is_lastest,
      </if>
      <if test="dictVersion != null">
        dict_version,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="diseaseId != null">
        #{diseaseId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="spell != null">
        #{spell,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="preCode != null">
        #{preCode,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isLastest != null">
        #{isLastest,jdbcType=INTEGER},
      </if>
      <if test="dictVersion != null">
        #{dictVersion,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xa.eyre.system.dict.domain.DdDiseaseIcd">
    update dd_disease_icd
    <set>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="diseaseId != null">
        disease_id = #{diseaseId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        `describe` = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="spell != null">
        spell = #{spell,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="preCode != null">
        pre_code = #{preCode,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isLastest != null">
        is_lastest = #{isLastest,jdbcType=INTEGER},
      </if>
      <if test="dictVersion != null">
        dict_version = #{dictVersion,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xa.eyre.system.dict.domain.DdDiseaseIcd">
    update dd_disease_icd
    set type_id = #{typeId,jdbcType=INTEGER},
      type_code = #{typeCode,jdbcType=VARCHAR},
      disease_id = #{diseaseId,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      `describe` = #{describe,jdbcType=VARCHAR},
      spell = #{spell,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      pre_code = #{preCode,jdbcType=INTEGER},
      status = #{status,jdbcType=SMALLINT},
      sort = #{sort,jdbcType=INTEGER},
      is_lastest = #{isLastest,jdbcType=INTEGER},
      dict_version = #{dictVersion,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>