<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa.eyre.lab.mapper.LabResultMapper">
  <resultMap id="BaseResultMap" type="cn.xa.eyre.lab.domain.LabResult">
    <id column="TEST_NO" jdbcType="VARCHAR" property="testNo" />
    <id column="ITEM_NO" jdbcType="NUMERIC" property="itemNo" />
    <id column="PRINT_ORDER" jdbcType="NUMERIC" property="printOrder" />
    <result column="REPORT_ITEM_NAME" jdbcType="VARCHAR" property="reportItemName" />
    <result column="REPORT_ITEM_CODE" jdbcType="VARCHAR" property="reportItemCode" />
    <result column="RESULT" jdbcType="VARCHAR" property="result" />
    <result column="UNITS" jdbcType="VARCHAR" property="units" />
    <result column="ABNORMAL_INDICATOR" jdbcType="VARCHAR" property="abnormalIndicator" />
    <result column="INSTRUMENT_ID" jdbcType="VARCHAR" property="instrumentId" />
    <result column="RESULT_DATE_TIME" jdbcType="TIMESTAMP" property="resultDateTime" />
    <result column="RECHECK" jdbcType="VARCHAR" property="recheck" />
    <result column="RECHECKDATE" jdbcType="TIMESTAMP" property="recheckdate" />
    <result column="PRINT_CONTEXT" jdbcType="VARCHAR" property="printContext" />
  </resultMap>
  <sql id="Base_Column_List">
    TEST_NO, ITEM_NO, PRINT_ORDER, REPORT_ITEM_NAME, REPORT_ITEM_CODE, RESULT, UNITS, 
    ABNORMAL_INDICATOR, INSTRUMENT_ID, RESULT_DATE_TIME, RECHECK, RECHECKDATE, PRINT_CONTEXT
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.xa.eyre.lab.domain.LabResultKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LAB_RESULT
    where TEST_NO = #{testNo,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=NUMERIC}
      and PRINT_ORDER = #{printOrder,jdbcType=NUMERIC}
  </select>
  <select id="selectByTestNo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from LAB_RESULT
    where TEST_NO = #{testNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.xa.eyre.lab.domain.LabResultKey">
    delete from LAB_RESULT
    where TEST_NO = #{testNo,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=NUMERIC}
      and PRINT_ORDER = #{printOrder,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="cn.xa.eyre.lab.domain.LabResult">
    insert into LAB_RESULT (TEST_NO, ITEM_NO, PRINT_ORDER, 
      REPORT_ITEM_NAME, REPORT_ITEM_CODE, RESULT, 
      UNITS, ABNORMAL_INDICATOR, INSTRUMENT_ID, 
      RESULT_DATE_TIME, RECHECK, RECHECKDATE, 
      PRINT_CONTEXT)
    values (#{testNo,jdbcType=VARCHAR}, #{itemNo,jdbcType=NUMERIC}, #{printOrder,jdbcType=NUMERIC}, 
      #{reportItemName,jdbcType=VARCHAR}, #{reportItemCode,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, 
      #{units,jdbcType=VARCHAR}, #{abnormalIndicator,jdbcType=VARCHAR}, #{instrumentId,jdbcType=VARCHAR}, 
      #{resultDateTime,jdbcType=TIMESTAMP}, #{recheck,jdbcType=VARCHAR}, #{recheckdate,jdbcType=TIMESTAMP}, 
      #{printContext,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xa.eyre.lab.domain.LabResult">
    insert into LAB_RESULT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="testNo != null">
        TEST_NO,
      </if>
      <if test="itemNo != null">
        ITEM_NO,
      </if>
      <if test="printOrder != null">
        PRINT_ORDER,
      </if>
      <if test="reportItemName != null">
        REPORT_ITEM_NAME,
      </if>
      <if test="reportItemCode != null">
        REPORT_ITEM_CODE,
      </if>
      <if test="result != null">
        RESULT,
      </if>
      <if test="units != null">
        UNITS,
      </if>
      <if test="abnormalIndicator != null">
        ABNORMAL_INDICATOR,
      </if>
      <if test="instrumentId != null">
        INSTRUMENT_ID,
      </if>
      <if test="resultDateTime != null">
        RESULT_DATE_TIME,
      </if>
      <if test="recheck != null">
        RECHECK,
      </if>
      <if test="recheckdate != null">
        RECHECKDATE,
      </if>
      <if test="printContext != null">
        PRINT_CONTEXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="testNo != null">
        #{testNo,jdbcType=VARCHAR},
      </if>
      <if test="itemNo != null">
        #{itemNo,jdbcType=NUMERIC},
      </if>
      <if test="printOrder != null">
        #{printOrder,jdbcType=NUMERIC},
      </if>
      <if test="reportItemName != null">
        #{reportItemName,jdbcType=VARCHAR},
      </if>
      <if test="reportItemCode != null">
        #{reportItemCode,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="units != null">
        #{units,jdbcType=VARCHAR},
      </if>
      <if test="abnormalIndicator != null">
        #{abnormalIndicator,jdbcType=VARCHAR},
      </if>
      <if test="instrumentId != null">
        #{instrumentId,jdbcType=VARCHAR},
      </if>
      <if test="resultDateTime != null">
        #{resultDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recheck != null">
        #{recheck,jdbcType=VARCHAR},
      </if>
      <if test="recheckdate != null">
        #{recheckdate,jdbcType=TIMESTAMP},
      </if>
      <if test="printContext != null">
        #{printContext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xa.eyre.lab.domain.LabResult">
    update LAB_RESULT
    <set>
      <if test="reportItemName != null">
        REPORT_ITEM_NAME = #{reportItemName,jdbcType=VARCHAR},
      </if>
      <if test="reportItemCode != null">
        REPORT_ITEM_CODE = #{reportItemCode,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        RESULT = #{result,jdbcType=VARCHAR},
      </if>
      <if test="units != null">
        UNITS = #{units,jdbcType=VARCHAR},
      </if>
      <if test="abnormalIndicator != null">
        ABNORMAL_INDICATOR = #{abnormalIndicator,jdbcType=VARCHAR},
      </if>
      <if test="instrumentId != null">
        INSTRUMENT_ID = #{instrumentId,jdbcType=VARCHAR},
      </if>
      <if test="resultDateTime != null">
        RESULT_DATE_TIME = #{resultDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recheck != null">
        RECHECK = #{recheck,jdbcType=VARCHAR},
      </if>
      <if test="recheckdate != null">
        RECHECKDATE = #{recheckdate,jdbcType=TIMESTAMP},
      </if>
      <if test="printContext != null">
        PRINT_CONTEXT = #{printContext,jdbcType=VARCHAR},
      </if>
    </set>
    where TEST_NO = #{testNo,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=NUMERIC}
      and PRINT_ORDER = #{printOrder,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xa.eyre.lab.domain.LabResult">
    update LAB_RESULT
    set REPORT_ITEM_NAME = #{reportItemName,jdbcType=VARCHAR},
      REPORT_ITEM_CODE = #{reportItemCode,jdbcType=VARCHAR},
      RESULT = #{result,jdbcType=VARCHAR},
      UNITS = #{units,jdbcType=VARCHAR},
      ABNORMAL_INDICATOR = #{abnormalIndicator,jdbcType=VARCHAR},
      INSTRUMENT_ID = #{instrumentId,jdbcType=VARCHAR},
      RESULT_DATE_TIME = #{resultDateTime,jdbcType=TIMESTAMP},
      RECHECK = #{recheck,jdbcType=VARCHAR},
      RECHECKDATE = #{recheckdate,jdbcType=TIMESTAMP},
      PRINT_CONTEXT = #{printContext,jdbcType=VARCHAR}
    where TEST_NO = #{testNo,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=NUMERIC}
      and PRINT_ORDER = #{printOrder,jdbcType=NUMERIC}
  </update>
</mapper>