<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa.eyre.lab.mapper.LabTestItemsMapper">
  <resultMap id="BaseResultMap" type="cn.xa.eyre.lab.domain.LabTestItems">
    <id column="TEST_NO" jdbcType="VARCHAR" property="testNo" />
    <id column="ITEM_NO" jdbcType="NUMERIC" property="itemNo" />
    <result column="ITEM_NAME" jdbcType="VARCHAR" property="itemName" />
    <result column="ITEM_CODE" jdbcType="VARCHAR" property="itemCode" />
  </resultMap>
  <sql id="Base_Column_List">
    TEST_NO, ITEM_NO, ITEM_NAME, ITEM_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.xa.eyre.lab.domain.LabTestItemsKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LAB_TEST_ITEMS
    where TEST_NO = #{testNo,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.xa.eyre.lab.domain.LabTestItemsKey">
    delete from LAB_TEST_ITEMS
    where TEST_NO = #{testNo,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="cn.xa.eyre.lab.domain.LabTestItems">
    insert into LAB_TEST_ITEMS (TEST_NO, ITEM_NO, ITEM_NAME, 
      ITEM_CODE)
    values (#{testNo,jdbcType=VARCHAR}, #{itemNo,jdbcType=NUMERIC}, #{itemName,jdbcType=VARCHAR}, 
      #{itemCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xa.eyre.lab.domain.LabTestItems">
    insert into LAB_TEST_ITEMS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="testNo != null">
        TEST_NO,
      </if>
      <if test="itemNo != null">
        ITEM_NO,
      </if>
      <if test="itemName != null">
        ITEM_NAME,
      </if>
      <if test="itemCode != null">
        ITEM_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="testNo != null">
        #{testNo,jdbcType=VARCHAR},
      </if>
      <if test="itemNo != null">
        #{itemNo,jdbcType=NUMERIC},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xa.eyre.lab.domain.LabTestItems">
    update LAB_TEST_ITEMS
    <set>
      <if test="itemName != null">
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        ITEM_CODE = #{itemCode,jdbcType=VARCHAR},
      </if>
    </set>
    where TEST_NO = #{testNo,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xa.eyre.lab.domain.LabTestItems">
    update LAB_TEST_ITEMS
    set ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      ITEM_CODE = #{itemCode,jdbcType=VARCHAR}
    where TEST_NO = #{testNo,jdbcType=VARCHAR}
      and ITEM_NO = #{itemNo,jdbcType=NUMERIC}
  </update>
</mapper>