<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa.eyre.xthis.mapper.OutpDiagnosisMapper">
  <resultMap id="BaseResultMap" type="cn.xa.eyre.xthis.domain.OutpDiagnosis">
    <id column="VISIT_DATE" jdbcType="TIMESTAMP" property="visitDate" />
    <id column="VISIT_NO" jdbcType="NUMERIC" property="visitNo" />
    <id column="DIAGNOSIS_NO" jdbcType="NUMERIC" property="diagnosisNo" />
    <id column="PATIENT_ID" jdbcType="VARCHAR" property="patientId" />
    <result column="DIAGNOSIS_TYPE" jdbcType="VARCHAR" property="diagnosisType" />
    <result column="DIAGNOSIS_DESC" jdbcType="VARCHAR" property="diagnosisDesc" />
    <result column="DIAGNOSIS_DATE" jdbcType="TIMESTAMP" property="diagnosisDate" />
    <result column="DIAG_START_DATE" jdbcType="TIMESTAMP" property="diagStartDate" />
    <result column="RESULT_TYPE" jdbcType="VARCHAR" property="resultType" />
    <result column="FIRST_VISIT_INDICATOR" jdbcType="NUMERIC" property="firstVisitIndicator" />
    <result column="DIAGNOSIS_CODE" jdbcType="VARCHAR" property="diagnosisCode" />
    <result column="DIAGNOSIS_NOTE" jdbcType="VARCHAR" property="diagnosisNote" />
    <result column="MAIN_FLAG" jdbcType="VARCHAR" property="mainFlag" />
    <result column="DIAGNOSIS_NAME" jdbcType="VARCHAR" property="diagnosisName" />
    <result column="DIAGNOSIS_DOCTOR_ID" jdbcType="VARCHAR" property="diagnosisDoctorId" />
    <result column="SORT_ORDER" jdbcType="NUMERIC" property="sortOrder" />
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="I_C_D_TYPE" jdbcType="VARCHAR" property="iCDType" />
  </resultMap>
  <sql id="Base_Column_List">
    VISIT_DATE, VISIT_NO, DIAGNOSIS_NO, PATIENT_ID, DIAGNOSIS_TYPE, DIAGNOSIS_DESC, DIAGNOSIS_DATE, 
    DIAG_START_DATE, RESULT_TYPE, FIRST_VISIT_INDICATOR, DIAGNOSIS_CODE, DIAGNOSIS_NOTE, 
    MAIN_FLAG, DIAGNOSIS_NAME, DIAGNOSIS_DOCTOR_ID, SORT_ORDER, ID, I_C_D_TYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.xa.eyre.xthis.domain.OutpDiagnosisKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from OUTP_DIAGNOSIS
    where VISIT_DATE = #{visitDate,jdbcType=TIMESTAMP}
    and VISIT_NO = #{visitNo,jdbcType=NUMERIC}
    and DIAGNOSIS_NO = #{diagnosisNo,jdbcType=NUMERIC}
    and PATIENT_ID = #{patientId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.xa.eyre.xthis.domain.OutpDiagnosisKey">
    delete from OUTP_DIAGNOSIS
    where VISIT_DATE = #{visitDate,jdbcType=TIMESTAMP}
      and VISIT_NO = #{visitNo,jdbcType=NUMERIC}
      and DIAGNOSIS_NO = #{diagnosisNo,jdbcType=NUMERIC}
      and PATIENT_ID = #{patientId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.xa.eyre.xthis.domain.OutpDiagnosis">
    insert into OUTP_DIAGNOSIS (VISIT_DATE, VISIT_NO, DIAGNOSIS_NO,
                                PATIENT_ID, DIAGNOSIS_TYPE, DIAGNOSIS_DESC,
                                DIAGNOSIS_DATE, DIAG_START_DATE, RESULT_TYPE,
                                FIRST_VISIT_INDICATOR, DIAGNOSIS_CODE, DIAGNOSIS_NOTE,
                                MAIN_FLAG, DIAGNOSIS_NAME, DIAGNOSIS_DOCTOR_ID,
                                SORT_ORDER, ID, I_C_D_TYPE
    )
    values (#{visitDate,jdbcType=TIMESTAMP}, #{visitNo,jdbcType=NUMERIC}, #{diagnosisNo,jdbcType=NUMERIC},
            #{patientId,jdbcType=VARCHAR}, #{diagnosisType,jdbcType=VARCHAR}, #{diagnosisDesc,jdbcType=VARCHAR},
            #{diagnosisDate,jdbcType=TIMESTAMP}, #{diagStartDate,jdbcType=TIMESTAMP}, #{resultType,jdbcType=VARCHAR},
            #{firstVisitIndicator,jdbcType=NUMERIC}, #{diagnosisCode,jdbcType=VARCHAR}, #{diagnosisNote,jdbcType=VARCHAR},
            #{mainFlag,jdbcType=VARCHAR}, #{diagnosisName,jdbcType=VARCHAR}, #{diagnosisDoctorId,jdbcType=VARCHAR},
            #{sortOrder,jdbcType=NUMERIC}, #{id,jdbcType=VARCHAR}, #{iCDType,jdbcType=VARCHAR}
           )
  </insert>
  <insert id="insertSelective" parameterType="cn.xa.eyre.xthis.domain.OutpDiagnosis">
    insert into OUTP_DIAGNOSIS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="visitDate != null">
        VISIT_DATE,
      </if>
      <if test="visitNo != null">
        VISIT_NO,
      </if>
      <if test="diagnosisNo != null">
        DIAGNOSIS_NO,
      </if>
      <if test="patientId != null">
        PATIENT_ID,
      </if>
      <if test="diagnosisType != null">
        DIAGNOSIS_TYPE,
      </if>
      <if test="diagnosisDesc != null">
        DIAGNOSIS_DESC,
      </if>
      <if test="diagnosisDate != null">
        DIAGNOSIS_DATE,
      </if>
      <if test="diagStartDate != null">
        DIAG_START_DATE,
      </if>
      <if test="resultType != null">
        RESULT_TYPE,
      </if>
      <if test="firstVisitIndicator != null">
        FIRST_VISIT_INDICATOR,
      </if>
      <if test="diagnosisCode != null">
        DIAGNOSIS_CODE,
      </if>
      <if test="diagnosisNote != null">
        DIAGNOSIS_NOTE,
      </if>
      <if test="mainFlag != null">
        MAIN_FLAG,
      </if>
      <if test="diagnosisName != null">
        DIAGNOSIS_NAME,
      </if>
      <if test="diagnosisDoctorId != null">
        DIAGNOSIS_DOCTOR_ID,
      </if>
      <if test="sortOrder != null">
        SORT_ORDER,
      </if>
      <if test="id != null">
        ID,
      </if>
      <if test="iCDType != null">
        I_C_D_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="visitDate != null">
        #{visitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="visitNo != null">
        #{visitNo,jdbcType=NUMERIC},
      </if>
      <if test="diagnosisNo != null">
        #{diagnosisNo,jdbcType=NUMERIC},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisType != null">
        #{diagnosisType,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisDesc != null">
        #{diagnosisDesc,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisDate != null">
        #{diagnosisDate,jdbcType=TIMESTAMP},
      </if>
      <if test="diagStartDate != null">
        #{diagStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="resultType != null">
        #{resultType,jdbcType=VARCHAR},
      </if>
      <if test="firstVisitIndicator != null">
        #{firstVisitIndicator,jdbcType=NUMERIC},
      </if>
      <if test="diagnosisCode != null">
        #{diagnosisCode,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisNote != null">
        #{diagnosisNote,jdbcType=VARCHAR},
      </if>
      <if test="mainFlag != null">
        #{mainFlag,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisName != null">
        #{diagnosisName,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisDoctorId != null">
        #{diagnosisDoctorId,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=NUMERIC},
      </if>
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="iCDType != null">
        #{iCDType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xa.eyre.xthis.domain.OutpDiagnosis">
    update OUTP_DIAGNOSIS
    <set>
      <if test="diagnosisType != null">
        DIAGNOSIS_TYPE = #{diagnosisType,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisDesc != null">
        DIAGNOSIS_DESC = #{diagnosisDesc,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisDate != null">
        DIAGNOSIS_DATE = #{diagnosisDate,jdbcType=TIMESTAMP},
      </if>
      <if test="diagStartDate != null">
        DIAG_START_DATE = #{diagStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="resultType != null">
        RESULT_TYPE = #{resultType,jdbcType=VARCHAR},
      </if>
      <if test="firstVisitIndicator != null">
        FIRST_VISIT_INDICATOR = #{firstVisitIndicator,jdbcType=NUMERIC},
      </if>
      <if test="diagnosisCode != null">
        DIAGNOSIS_CODE = #{diagnosisCode,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisNote != null">
        DIAGNOSIS_NOTE = #{diagnosisNote,jdbcType=VARCHAR},
      </if>
      <if test="mainFlag != null">
        MAIN_FLAG = #{mainFlag,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisName != null">
        DIAGNOSIS_NAME = #{diagnosisName,jdbcType=VARCHAR},
      </if>
      <if test="diagnosisDoctorId != null">
        DIAGNOSIS_DOCTOR_ID = #{diagnosisDoctorId,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null">
        SORT_ORDER = #{sortOrder,jdbcType=NUMERIC},
      </if>
      <if test="id != null">
        ID = #{id,jdbcType=VARCHAR},
      </if>
      <if test="iCDType != null">
        I_C_D_TYPE = #{iCDType,jdbcType=VARCHAR},
      </if>
    </set>
    where VISIT_DATE = #{visitDate,jdbcType=TIMESTAMP}
    and VISIT_NO = #{visitNo,jdbcType=NUMERIC}
    and DIAGNOSIS_NO = #{diagnosisNo,jdbcType=NUMERIC}
    and PATIENT_ID = #{patientId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xa.eyre.xthis.domain.OutpDiagnosis">
    update OUTP_DIAGNOSIS
    set DIAGNOSIS_TYPE = #{diagnosisType,jdbcType=VARCHAR},
        DIAGNOSIS_DESC = #{diagnosisDesc,jdbcType=VARCHAR},
        DIAGNOSIS_DATE = #{diagnosisDate,jdbcType=TIMESTAMP},
        DIAG_START_DATE = #{diagStartDate,jdbcType=TIMESTAMP},
        RESULT_TYPE = #{resultType,jdbcType=VARCHAR},
        FIRST_VISIT_INDICATOR = #{firstVisitIndicator,jdbcType=NUMERIC},
        DIAGNOSIS_CODE = #{diagnosisCode,jdbcType=VARCHAR},
        DIAGNOSIS_NOTE = #{diagnosisNote,jdbcType=VARCHAR},
        MAIN_FLAG = #{mainFlag,jdbcType=VARCHAR},
        DIAGNOSIS_NAME = #{diagnosisName,jdbcType=VARCHAR},
        DIAGNOSIS_DOCTOR_ID = #{diagnosisDoctorId,jdbcType=VARCHAR},
        SORT_ORDER = #{sortOrder,jdbcType=NUMERIC},
        ID = #{id,jdbcType=VARCHAR},
        I_C_D_TYPE = #{iCDType,jdbcType=VARCHAR}
    where VISIT_DATE = #{visitDate,jdbcType=TIMESTAMP}
      and VISIT_NO = #{visitNo,jdbcType=NUMERIC}
      and DIAGNOSIS_NO = #{diagnosisNo,jdbcType=NUMERIC}
      and PATIENT_ID = #{patientId,jdbcType=VARCHAR}
  </update>
</mapper>