# 项目相关配置
xa-eyre:
  # 名称
  name: xa-eyre-his-service
  # 版本
  version: 1.0
  # 版权年份
  copyrightYear: 2025

# 开发环境配置
server:
  # 服务器的HTTP端口，默认为8080
  port: 8091
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100

# 日志配置
logging:
  level:
    cn.xa.eyre: debug
    org.springframework: warn
    com.yourpackage.feign: DEBUG

# 用户配置
user:
  password:
    # 密码最大错误次数
    maxRetryCount: 5
    # 密码锁定时间（默认10分钟）
    lockTime: 10

# Spring配置
spring:
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  profiles: 
    active: druid
  # 文件上传
  servlet:
     multipart:
       # 单个文件大小
       max-file-size:  10MB
       # 设置总上传的文件大小
       max-request-size:  20MB
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true
  kafka:
    bootstrap-servers: 127.0.0.1:9092
    consumer:
      group-id: xa-eyre-his-service
      auto-offset-reset: earliest
    properties:
      schema-registry-url: http://127.0.0.1:8081
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

kafka:
  topics:
    - oracle_service.COMM.USERS
    - oracle_service.COMM.DEPT_DICT
    - oracle_service.MEDREC.PAT_MASTER_INDEX
    - oracle_service.OUTPDOCT.OUTP_MR
    - oracle_service.INPADM.PATS_IN_HOSPITAL
    - oracle_service.MEDREC.DIAGNOSIS
    - oracle_service.MEDREC.PAT_VISIT
    - oracle_service.EXAM.EXAM_MASTER
    - oracle_service.LAB.LAB_TEST_MASTER
    - oracle_service.PHARMACY.DRUG_PRESC_MASTER

# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥
  secret: abcdefghijklmnopqrstuvwxyz
  # 令牌有效期（默认30分钟）
  expireTime: 5
  
# MyBatis配置
mybatis:
    # 搜索指定包别名
    typeAliasesPackage: cn.xa.eyre.**.**.domain
    # 配置mapper的扫描，找到所有的mapper.xml映射文件
    mapperLocations: classpath*:mapper/**/*Mapper.xml
    # 加载全局的配置文件
    configLocation: classpath:mybatis/mybatis-config.xml

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: true
  # 请求前缀
  pathMapping: /dev-api

# 防止XSS攻击
xss: 
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*

# licence配置
license:
  subject: 中国人民武装警察部队上海市总队医院
  publicAlias: publicCert
  storePass: 7Hk.;9%p2L*m4)Q
  licensePath: /home/convert/licence/license.lic
  publicKeysStorePath: /home/convert/licence/publicCerts.keystore
